.form_input{
    width: 500px !important;
    @media (max-width: 537px) {
      width: 400px !important;
    }
    @media (max-width: 440px) {
      width: 360px !important;
    }
    @media (max-width: 400px) {
      width: 330px !important;
    }
}