<app-sidebar></app-sidebar>
<main class="main_container">
        <body>
            <div class="welcome">
                <div class="welcome__banner">
                    <p>Odontología UADEC</p>
                </div>
                <article class="welcome__article">
                    <h2>¡Bienvenido, Maestro!</h2>
                    <p class="welcome__text">Tu rol en nuestra Escuela de Odontología es fundamental. Como maestro, tienes la capacidad de revisar tus asignaturas y las consultas realizadas por tus alumnos. Esto desempeña un papel esencial en la formación de futuros profesionales de la odontología.</p>
                    <button class="welcome__button">Pene</button>
                    <p class="welcome__text">Podrás guiar y evaluar el progreso de tus alumnos. Compartiendo tu experiencia y conocimiento con ellos estás contribuyendo de manera significativa al crecimiento de la próxima generación de odontólogos. ¡Bienvenido a nuestra comunidad académica odontológica!</p>
                </article>
            </div>
        </body>
</main>