<app-sidebar></app-sidebar>
<main class="main_container">
  <app-page-title [title]="'Diagnostico'"></app-page-title>
 
  <form
    class="login-form"
    [formGroup]="diagnosticoForm"
    (ngSubmit)="onSubmit()"
  >
 

    <div class="historia_clinica" *ngIf="item">
      <h3 style="text-transform: uppercase;margin-bottom: 20px; color: #b21e36;">Informacion del paciente</h3>
     
      <div class="alerts">
        <app-alert
          enfermedad="Este paciente tiene diabetes."
          *ngIf="item.historia_clinica.Diabeticos"
        ></app-alert>
        <app-alert
          enfermedad="Este paciente es alcoholico."
          *ngIf="item.historia_clinica.alcoholismo"
        ></app-alert>
        <app-alert
          enfermedad="Este paciente es fumador."
          *ngIf="item.historia_clinica.tabaquismo"
        ></app-alert>
        <app-alert
          enfermedad="Este paciente sufre de epilepcia"
          *ngIf="item.historia_clinica.Epilepticos"
        ></app-alert>
        <app-alert
          enfermedad="Este paciente tiene antecedentes reumaticos."
          *ngIf="item.historia_clinica.Reumaticos"
        ></app-alert>
        <app-alert
          enfermedad="Este paciente sufre de alergias."
          *ngIf="item.historia_clinica.Alergicos"
        ></app-alert>

        <app-alert
        enfermedad="Este paciente sufre problemas cardiovasculares."
        *ngIf="item.historia_clinica.Enfermedades_Cardiovasculares"
      ></app-alert>
      </div> 
      <div class="contenedor" style="display: flex;gap: 20px;flex-wrap: wrap;background-color: #ddd;padding: 20px;border-radius: 13px">
      <div>
        <label for=""><strong>Nombre Completo:</strong> {{item.paciente.nombre_completo}}</label>
      </div>
      <div>
        <label for=""><strong>0cupacion: </strong>{{item.paciente.ocupacion}}</label>
      </div>
      <div>
        <label for=""><strong>Genero:</strong> {{item.paciente.genero}}</label>
      </div>
      <div>
        <label for=""><strong>Telefono:</strong> {{item.paciente.telefono}}</label>
      </div>
      <div>
        <label for=""><strong>Fecha de nacimiento:</strong> {{item.paciente.fecha_de_nacimiento}}</label>
      </div>
      <div>
        <label for=""><strong>Domicilio:</strong> {{item.paciente.domicilio}}</label>
      </div>
      <div>
        <label for=""><strong>Ciudad actual:</strong> {{item.paciente.ciudad_Actual}}</label>
      </div>
      <div>
        <label for=""><strong>Estado civil: </strong> {{item.paciente.estado_civil}}</label>
      </div>
     </div>
    </div>
    <div class="tabs">
      <h3>ODONTROGRAMA</h3>

      <canvas
        [width]="canvasWidth"
        [height]="canvasHeight"
        #canvas
        width="500"
        height="500"
        (mousedown)="startDrawing($event)"
        (mousemove)="draw($event)"
        (mouseup)="endDrawing()"
      ></canvas>


      <h3>CLINICA:</h3>
      <div class="form_control" >
                <label for="" class="label_input">Cual?:</label>
                <input
                  class="form_input"
                  type="text"
                  placeholder=""
                  formControlName="clinica"
                  autocomplete="off"
                />
              </div>
      <h3>CABEZA:</h3>
      <div class="form_control">
        <label for="" class="label_input">Craneo:</label>
        <textarea
          class="form_input form_textarea"
          formControlName="cabeza_craneo"
        ></textarea>
      </div>
      <div class="form_control">
        <label for="" class="label_input">Cara:</label>
        <textarea
          class="form_input form_textarea"
          formControlName="cabeza_cara"
        ></textarea>
      </div>
      <h3>BOCA:</h3>
      <div class="form_control">
        <label for="" class="label_input">Labios:</label>
        <textarea
          class="form_input form_textarea"
          formControlName="boca_labios"
        ></textarea>
      </div>
      <div class="form_control">
        <label for="" class="label_input">Carillos:</label>
        <textarea
          class="form_input form_textarea"
          formControlName="boca_carrillos"
        ></textarea>
      </div>
      <div class="form_control">
        <label for="" class="label_input">Encia:</label>
        <textarea
          class="form_input form_textarea"
          formControlName="boca_encia"
        ></textarea>
      </div>
      <div class="form_control">
        <label for="" class="label_input">Piso de Boca:</label>
        <textarea
          class="form_input form_textarea"
          formControlName="boca_piso_de_boca"
        ></textarea>
      </div>
      <div class="form_control">
        <label for="" class="label_input">Lengua:</label>
        <textarea
          class="form_input form_textarea"
          formControlName="boca_lengua"
        ></textarea>
      </div>
      <div class="form_control">
        <label for="" class="label_input">Paladar:</label>
        <textarea
          class="form_input form_textarea"
          formControlName="boca_paladar"
        ></textarea>
      </div>

      <h3>ATM:</h3>
      <div class="form_control">
        <label for="" class="label_input"></label>
        <textarea
          class="form_input form_textarea"
          formControlName="atm"
        ></textarea>
      </div>
      <div class="form_control">
        <label for="" class="label_input">Anexos:</label>
        <textarea
          class="form_input form_textarea"
          formControlName="atm_anexos"
        ></textarea>
      </div>
      <div class="form_control">
        <label for="" class="label_input"
          >Macizo Oseo (Maxilares y Mandibula):</label
        >
        <textarea
          class="form_input form_textarea"
          formControlName="atm_macizo_oseo"
        ></textarea>
      </div>
      <div class="form_control">
        <label for="" class="label_input">CUELLO:</label>
        <textarea
          class="form_input form_textarea"
          formControlName="cuello"
        ></textarea>
      </div>
      <div class="form_control">
        <label for="" class="label_input">TORAX:</label>
        <textarea
          class="form_input form_textarea"
          formControlName="torax"
        ></textarea>
      </div>

      <div class="form_control">
        <label for="" class="label_input">ABDOMEN:</label>
        <textarea
          class="form_input form_textarea"
          formControlName="abdomen"
        ></textarea>
      </div>
      <div class="form_control">
        <label for="" class="label_input">EXTREMIDADES:</label>
        <textarea
          class="form_input form_textarea"
          formControlName="extremidades"
        ></textarea>
      </div>
      <div class="form_control">
        <label for="" class="label_input">EXAMENES DE LABORATORIO:</label>
        <textarea
          class="form_input form_textarea"
          formControlName="examenes_de_laboratorio"
        ></textarea>
      </div>
      <div class="form_control">
        <label for="" class="label_input">DIAGNOSTICO:</label>
        <textarea
          class="form_input form_textarea"
          formControlName="diagnostico"
        ></textarea>
      </div>
      <div class="form_control">
        <label for="" class="label_input">OBSERVACIONES:</label>
        <textarea
          class="form_input form_textarea"
          formControlName="observaciones"
        ></textarea>
      </div>
      <h3>INFORMACION</h3>

      

      <div class="form_control">
        <label for="" class="label_input">Motivos de la consulta:</label>
        <textarea
          class="form_input form_textarea"
          formControlName="motivos_de_la_consulta"
        >
        </textarea>
      </div>
      <div class="form_control">
        <label for="" class="label_input">Fecha de la consulta:</label>
        <input
          class="form_input"
          type="date"
          placeholder="Fecha de nacimiento"
          formControlName="fecha_de_la_consulta"
          name="fecha_de_nacimiento"
          autocomplete="off"
        />
        <div
          *ngIf="
            diagnosticoForm.get('fecha_de_nacimiento')?.hasError('required') &&
            diagnosticoForm.get('fecha_de_nacimiento')?.touched
          "
          class="error-message"
        >
          La fecha de nacimiento es requerida.
        </div>
      </div>
      <div class="form_control">
        <label for="" class="label_input"
          >Comentarios sobre la consulta, diagnostico y observaciones:</label
        >
        <textarea
          class="form_input form_textarea"
          formControlName="comentarios_sobre_la_consulta"
        >
        </textarea>

        <!--Los fuckin inputs de tipo file-->

        <div class="form_control">
          <label class="label_input" for="file1">Evidencia 1:</label>
          <input
            class="form_input"
            type="file"
            id="file1"
            (change)="onFileSelected($event, 'evidencia1')"
          /><br />
        </div>

        <div class="form_control">
          <label class="label_input" for="file2">Evidencia 2:</label>
          <input
            class="form_input"
            type="file"
            id="file2"
            (change)="onFileSelected($event, 'evidencia2')"
          />
        </div>

        <div class="form_control">
          <label class="label_input" for="file3">Evidencia 3:</label>
          <input
            class="form_input"
            type="file"
            id="file3"
            (change)="onFileSelected($event, 'evidencia3')"
          />
        </div>

        <div class="form_control">
          <label class="label_input" for="file4">Evidencia 4:</label>
          <input
            class="form_input"
            type="file"
            id="file4"
            (change)="onFileSelected($event, 'evidencia4')"
          /><br />
        </div>

        <div class="form_control">
          <label class="label_input" for="file5">Evidencia 5:</label>
          <input
            class="form_input"
            type="file"
            id="file5"
            (change)="onFileSelected($event, 'evidencia5')"
          /><br />
        </div>
      </div>

      <button type="button" (click)="onSubmit()" class="btn_primary">
        Crear
      </button>
    </div>
  </form>
  <div></div>
</main>
