<app-sidebar></app-sidebar>
<main class="main_container">
  <app-page-title [title]="'Diagnostico'"></app-page-title>
  <form
    class="login-form"
    [formGroup]="diagnosticoForm"
    (ngSubmit)="onSubmit()"
  >
    <div class="tabs">
      <div class="tabs__nav">
        <button
          class="tabs__nav-btn"
          [ngClass]="{ active: showOdontogramaInfoTab }"
          type="button"
          (click)="changeTab('odontograma')"
        >
          Odontograma
        </button>
        <button
          class="tabs__nav-btn"
          [ngClass]="{ active: showConsultasInfoTab }"
          type="button"
          (click)="changeTab('consultas_del_paciente')"
        >
          Consultas del paciente
        </button>
      </div>
      <div class="tabs__content"> 
        <div *ngIf="showOdontogramaInfoTab">
          <h3>ODONTROGRAMA</h3>
          <div>
            <div class="container_dientes_arriba">
              <div class="row">
                <div class="square_container">
                  <div class="square"></div>
                  <div class="number">18</div>
                  <div class="circle">
                    <div class="inner-circle"></div>
                    <div class="diagonal diagonal-1"></div>
                    <div class="diagonal diagonal-2"></div>
                  </div>
                </div>
                <div class="square_container">
                  <div class="square"></div>
                  <div class="number">17</div>
                  <div class="circle">
                    <div class="inner-circle"></div>
                    <div class="diagonal diagonal-1"></div>
                    <div class="diagonal diagonal-2"></div>
                  </div>
                </div>
                <div class="square_container">
                  <div class="square"></div>
                  <div class="number">16</div>
                  <div class="circle">
                    <div class="inner-circle"></div>
                    <div class="diagonal diagonal-1"></div>
                    <div class="diagonal diagonal-2"></div>
                  </div>
                </div>
                <div class="square_container">
                  <div class="square"></div>
                  <div class="number">15</div>
                  <div class="circle">
                    <div class="inner-circle"></div>
                    <div class="diagonal diagonal-1"></div>
                    <div class="diagonal diagonal-2"></div>
                  </div>
                </div>
                <div class="square_container">
                  <div class="square"></div>
                  <div class="number">14</div>
                  <div class="circle">
                    <div class="inner-circle"></div>
                    <div class="diagonal diagonal-1"></div>
                    <div class="diagonal diagonal-2"></div>
                  </div>
                </div>
                <div class="square_container">
                  <div class="square"></div>
                  <div class="number">13</div>
                  <div class="circle">
                    <div class="inner-circle"></div>
                    <div class="diagonal diagonal-1"></div>
                    <div class="diagonal diagonal-2"></div>
                  </div>
                </div>
                <div class="square_container">
                  <div class="square"></div>
                  <div class="number">12</div>
                  <div class="circle">
                    <div class="inner-circle"></div>
                    <div class="diagonal diagonal-1"></div>
                    <div class="diagonal diagonal-2"></div>
                  </div>
                </div>
                <div class="square_container">
                  <div class="square"></div>
                  <div class="number">11</div>
                  <div class="circle">
                    <div class="inner-circle"></div>
                    <div class="diagonal diagonal-1"></div>
                    <div class="diagonal diagonal-2"></div>
                  </div>
                </div>
                <div class="square_container">
                  <div class="square"></div>
                  <div class="number empty-space"></div>
                </div>
                <div class="square_container">
                  <div class="square"></div>
                  <div class="number">21</div>
                  <div class="circle">
                    <div class="inner-circle"></div>
                    <div class="diagonal diagonal-1"></div>
                    <div class="diagonal diagonal-2"></div>
                  </div>
                </div>
                <div class="square_container">
                  <div class="square"></div>
                  <div class="number">22</div>
                  <div class="circle">
                    <div class="inner-circle"></div>
                    <div class="diagonal diagonal-1"></div>
                    <div class="diagonal diagonal-2"></div>
                  </div>
                </div>
                <div class="square_container">
                  <div class="square"></div>
                  <div class="number">23</div>
                  <div class="circle">
                    <div class="inner-circle"></div>
                    <div class="diagonal diagonal-1"></div>
                    <div class="diagonal diagonal-2"></div>
                  </div>
                </div>
                <div class="square_container">
                  <div class="square"></div>
                  <div class="number">24</div>
                  <div class="circle">
                    <div class="inner-circle"></div>
                    <div class="diagonal diagonal-1"></div>
                    <div class="diagonal diagonal-2"></div>
                  </div>
                </div>
                <div class="square_container">
                  <div class="square"></div>
                  <div class="number">25</div>
                  <div class="circle">
                    <div class="inner-circle circle_active"></div>
                    <div class="diagonal diagonal-1"></div>
                    <div class="diagonal diagonal-2"></div>
                  </div>
                </div>
                <div class="square_container">
                  <div class="square"></div>
                  <div class="number">26</div>
                  <div class="circle">
                    <div class="inner-circle"></div>
                    <div class="diagonal diagonal-1"></div>
                    <div class="diagonal diagonal-2"></div>
                  </div>
                </div>
                <div class="square_container">
                  <div class="square"></div>
                  <div class="number">27</div>
                  <div class="circle">
                    <div class="inner-circle"></div>
                    <div class="diagonal diagonal-1"></div>
                    <div class="diagonal diagonal-2"></div>
                  </div>
                </div>
                <div class="square_container">
                  <div class="square"></div>
                  <div class="number">28</div>
                  <div class="circle">
                    <div class="inner-circle"></div>
                    <div class="diagonal diagonal-1"></div>
                    <div class="diagonal diagonal-2"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <button type="button" class="btn_primary" (click)="nextPaso6()">
            Siguiente paso
          </button>
        </div>
        <div *ngIf="showConsultasInfoTab">
          <h3>CONSULTAS DEL PACIENTE</h3>

          <div class="alerts">
            <app-alert
              enfermedad="Este paciente tiene diabetes."
              *ngIf="esDiabetico"
            ></app-alert>
            <app-alert
              enfermedad="Este paciente es alcoholico."
              *ngIf="esAlcoholico"
            ></app-alert>
            <app-alert
              enfermedad="Este paciente es fumador."
              *ngIf="esFumador"
            ></app-alert>
            <app-alert
              enfermedad="Este paciente sufre de epilepcia"
              *ngIf="esEpileptico"
            ></app-alert>
            <app-alert
              enfermedad="Este paciente tiene antecedentes reumaticos."
              *ngIf="esReumatico"
            ></app-alert>
            <app-alert
              enfermedad="Este paciente sufre de alergias."
              *ngIf="esAlergico"
            ></app-alert>
          </div>

          <div class="form_control">
            <label for="" class="label_input">Motivos de la consulta:</label>
            <textarea
              class="form_input form_textarea"
              [formControl]="motivos_de_la_consulta"
            >
            </textarea>
          </div>
          <div class="form_control">
            <label for="" class="label_input">Fecha de la consulta:</label>
            <input
              class="form_input"
              type="date"
              placeholder="Fecha de nacimiento"
              [formControl]="fecha_de_la_consulta"
              name="fecha_de_nacimiento"
              autocomplete="off"
            />
            <div
              *ngIf="
                diagnosticoForm
                  .get('fecha_de_nacimiento')
                  ?.hasError('required') &&
                diagnosticoForm.get('fecha_de_nacimiento')?.touched
              "
              class="error-message"
            >
              La fecha de nacimiento es requerida.
            </div>
          </div>
          <div class="form_control">
            <label for="" class="label_input"
              >Comentarios sobre la consulta, diagnostico y
              observaciones:</label
            >
            <textarea
              class="form_input form_textarea"
              [formControl]="comentarios_sobre_la_consulta"
            >
            </textarea>

            <div class="form_control">
              <label for="" class="label_input"
                >Practica para la materia:</label
              >
              <select
                class="form_input"
                [formControl]="practica_para_la_materia"
                name="practica_para_la_materia"
              >
                <option value="">Selecciona la materia</option>
                <option
                  [value]="materia.value"
                  *ngFor="let materia of estudianteData.materias"
                >
                  {{ materia.text }}
                </option>
              </select>
              <div
                *ngIf="
                  diagnosticoForm.get('genero')?.hasError('required') &&
                  diagnosticoForm.get('genero')?.touched
                "
                class="error-message"
              >
                El genero es requerido.
              </div>
            </div>

            <!--Los fuckin inputs de tipo file-->

            <div class="form_control" >
              <label class="label_input" for="file1">Evidencia 1:</label>
              <input
                class="form_input"
                type="file"
                id="file1"
                (change)="onFileSelected($event,'evidencia1')"
              /><br />
            </div>

            <div class="form_control">
              <label class="label_input" for="file2">Evidencia 2:</label>
              <input class="form_input" type="file" id="file2"    (change)="onFileSelected($event,'evidencia2')" />
            </div>

            <div class="form_control">
              <label class="label_input" for="file3">Evidencia 3:</label>
              <input class="form_input" type="file" id="file3"     (change)="onFileSelected($event,'evidencia3')" />
            </div>

            <div class="form_control">
              <label class="label_input" for="file4">Evidencia 4:</label>
              <input
                class="form_input"
                type="file"
                id="file4"
                (change)="onFileSelected($event,'evidencia4')"
              /><br />
            </div>

            <div class="form_control">
              <label class="label_input" for="file5">Evidencia 5:</label>
              <input
                class="form_input"
                type="file"
                id="file5"
                (change)="onFileSelected($event,'evidencia5')"
              /><br />
            </div>

            <button
              type="button"
              class="btn_primary"
              (click)="saveConsulta()"
              style="width: 200px"
            >
              Crear consulta
            </button>
          </div>

          <table class="table_grid" *ngIf="consultasList.length > 0">
            <thead>
              <tr>
                <th>Fecha</th>
                <th>Motivo</th>
                <th>Diagnostico</th>
                <th>Para la materia</th>
                <th>Alumno que lo atendio</th>
                <th>Estado</th>
                <th>Aprobado/Rechazado por el maestro</th>
                <th>Evidencia 1</th>
                <th>Evidencia 2</th>
                <th>Evidencia 3</th>
                <th>Evidencia 4</th>
                <th>Evidencia 5</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let consulta of consultasList">
                <td>{{ consulta.fecha_consulta }}</td>
                <td>{{ consulta.motivos_consulta }}</td>
                <td>{{ consulta.comentarios }}</td>
                <td>{{ consulta.practica_para_la_materia.text }}</td>
                <td>{{ consulta.estudiante.nombre }}</td>
                <td>{{ consulta.aprobado }}</td>
                <td>{{ consulta.maestro.nombre }}</td>
                <td><img  width="100px" [src]="consulta.evidencia1" alt="" (click)="viewEvidencia(consulta.evidencia1)" > </td>
                <td><img  width="100px" [src]="consulta.evidencia2" alt="" (click)="viewEvidencia(consulta.evidencia2)" > </td>
                <td><img  width="100px" [src]="consulta.evidencia3" alt="" (click)="viewEvidencia(consulta.evidencia3)" > </td>
                <td><img  width="100px" [src]="consulta.evidencia4" alt="" (click)="viewEvidencia(consulta.evidencia4)" > </td>
                <td><img  width="100px" [src]="consulta.evidencia5" alt="" (click)="viewEvidencia(consulta.evidencia5)" > </td>
              </tr>
            </tbody>
          </table>
          <button type="button" (click)="onSubmit()" class="btn_primary">
            Crear
          </button>
        </div>
      </div>
    </div>
  </form>
  <div></div>
</main>
