.tabs {
    width: 100%;
    margin: auto;
    cursor: pointer;
}
.alerts{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}


.tabs__nav {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}

.form_container{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 10px;
    max-width: 800px;
    padding: 10px;

}
h3{
    margin-top: 10px;
}
.btn_primary{
    margin-bottom: 10px!important;
}



.tabs__nav-btn {
    padding: 15px 30px;
    font-size: 14px;
    background-color: #f5f5f5;
    border: 0;
    border-right: 1px solid #ddd;
    cursor: pointer;
    text-align: center;

}
.deshabilitado {
    pointer-events: none; 
  }
  
  /* Estilos responsivos */
  @media (max-width: 768px) {
    .tabs {
      grid-template-columns: 1fr;
      margin: 0 auto;
    }
  }

.tabs__nav-btn:last-child {
    border-right: none;
}

.tabs__nav-btn:hover {
    background-color: #ddd;
}

.tabs__nav-btn.active {
    background-color: #b21e36;
    border-right-color: #b21e36;
    color: #fff;
}

.tabs__content form{
    display: grid;
    gap: 10px;
    margin: 0 auto;
    background-color: #fff;
    max-width: max-content;
    
}
.tabs__content label{
    display: block;
    width: 100%;
}
.tabs__content input {
    padding: 5px;
    margin-top: 5px;
    padding: 10px;
  }

.tabs__item {
    display: none;
}

.tabs__item.active {
    display: block;
}

.circle {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    //background-color: #3498db;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid black;
}

.circle_active{
    background-color: #b21e36!important;
}
.inner-circle {
    width: 20px;
    height: 20px;
    border: 3px solid black;
  //  background-color: #e74c3c;
  background-color: white;
    border-radius: 50%;
    position: absolute;
    z-index: 99;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.diagonal {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: black;
    transform-origin: 0 50%;
}

.diagonal-1 {
    top: 14%;
    left: 15%;
    transform: rotate(45deg);
}

.diagonal-2 {
    bottom: 14%;
    right: -15%;
    transform: rotate(-45deg);
}


.container_dientes_arriba {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    .row {
        display: flex;
        flex-direction: row;
    }
    .square_container{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }
   
    .number{
        width: 50px;
        height: 50px;
        color: black;
        text-align: center;
        line-height: 30px;
    }
    .square {
        width: 50px;
        height: 50px;
        color: black;
        text-align: center;
        line-height: 30px;
        border: 2px solid #333;
    }
    
    .empty-space {
        width: 30px;
        height: 30px;
        background-color: transparent;
    }
}

.odontograma{
    border: 2px soldi black;
}


.contenido-menu{
  display: flex;
  gap: 20px;
  flex-wrap: no-wrap;
  background-color: #ddd;
  padding: 20px;
  border-radius: 13px;
}
.custom-alert {
    background-color: #fcf8e3;
    border-color: #faebcc;
    color: #8a6d3b;
    border-radius: 4px;
    padding: 15px;
    margin-bottom: 20px;
  }

  .menu-bar{
    padding: 10px;
    background-color: #e7e3e3;
    width: 30%;
    margin-top: 10px;
    display: flex;
    border-radius: 13px;
  }
  
  .menu-bar h2 {
    margin-bottom: 10px;
  }
  
  .menu-bar button {
    margin-right: 10px;
  }
  .clear-button{
    padding-right: 10px;
  }
  .clear-button button {
    background-color: #b21e36;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px; 
  }
 
  .colors h3{
    margin-bottom: 10px;
  }
  .colors input{
  border: 1px solid #ccc; 
  padding: 5px 10px; 
  margin-right: 10px; 
  cursor: pointer; 
  border-radius: 100px;
  width: 50px;
  height: 50px; 
  background-image: url('/src/assets/iconos/icons8-brocha-50.png');
  background-position: left center;
  background-repeat: no-repeat;
  background-size: contain; 
  }

  .color-button_red{
    background-color: red;
  }
  .color-button_blue{
    background-color: blue;
  }
  .color-button_green{
    background-color: green;
  }
  .color-button_purple{
    background-color: purple;
  }
  .color-button_black{
    background-color: black;
  }
  .color-button_gray{
    background-color: gray;
  }

  .pen-thickness-container input[type="button"] {
    background-color: #b21e36;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px; 
  }
