<app-sidebar></app-sidebar>
<main class="main_container">
  <app-page-title [title]="'Historia Clinica'"></app-page-title>
  <div>
    <form class="login-form" [formGroup]="pacienteForm" (ngSubmit)="onSubmit()">
      <div>
        <input
        class="form_input"
        type="text"
        placeholder="Nombre completo"
        formControlName="nombre_completo"
        name="nombre_completo"

        autocomplete="off"
      />
      <div
        *ngIf="
        pacienteForm.get('nombre_completo')?.hasError('required') &&
        pacienteForm.get('nombre_completo')?.touched
        "
        class="error-message"
      >
        El nombre completo es requerido.
      </div>
      </div>

       <div>
        <input
        class="form_input"
        type="date"
        placeholder="Fecha de nacimiento"
        formControlName="fecha_de_nacimiento"
        name="fecha_de_nacimiento"

        autocomplete="off"
      />
      <div
        *ngIf="
        pacienteForm.get('fecha_de_nacimiento')?.hasError('required') &&
        pacienteForm.get('fecha_de_nacimiento')?.touched
        "
        class="error-message"
      >
        La fecha de nacimiento es requerida.
      </div>
      </div>
    
      <div>
        <select
          class="form_input"
          formControlName="genero"
          name="genero"
        >
        <option value="">Selecciona el genero</option>
          <option [value]="gender.value" *ngFor="let gender of gender_options">{{gender.text}}</option>
        </select>
        <div
          *ngIf="
          pacienteForm.get('genero')?.hasError('required') &&
          pacienteForm.get('genero')?.touched
          "
          class="error-message"
        >
          El genero es requerido.
        </div>
      </div>

      <div>
        <select
          class="form_input"
          formControlName="estado_civil"
          name="estado_civil"
        >
        <option value="">Selecciona el Estado civil</option>
          <option [value]="status.value" *ngFor="let status of status_options">{{status.text}}</option>
        </select>
        <div
          *ngIf="
          pacienteForm.get('estado_civil')?.hasError('required') &&
          pacienteForm.get('estado_civil')?.touched
          "
          class="error-message"
        >
          El Estado civil es requerido.
        </div>
      </div>

      <div>
        <input
        class="form_input"
        type="text"
        placeholder="Domicilio"
        formControlName="domicilio"
        name="domicilio"

        autocomplete="off"
      />
      <div
        *ngIf="
        pacienteForm.get('domicilio')?.hasError('required') &&
        pacienteForm.get('domicilio')?.touched
        "
        class="error-message"
      >
        El domicilio es requerido.
      </div>
      </div>

      <div>
        <input
        class="form_input"
        type="number"
        placeholder="Telefono"
        formControlName="telefono"
        name="telefono"

        autocomplete="off"
      />
      <div
        *ngIf="
        pacienteForm.get('telefono')?.hasError('required') &&
        pacienteForm.get('telefono')?.touched
        "
        class="error-message"
      >
        El Telefono es requerido.
      </div>
      </div>

      <div>
        <select
          class="form_input"
          formControlName="pais_origen"
          name="pais_origen"
        >
        <option value="">Selecciona el Pais de origen</option>
          <option [value]="country.value" *ngFor="let country of countries_options">{{country.text}}</option>
        </select>
        <div
          *ngIf="
          pacienteForm.get('pais_origen')?.hasError('required') &&
          pacienteForm.get('pais_origen')?.touched
          "
          class="error-message"
        >
          El Pais de origen es requerido.
        </div>
      </div>

      <div>
        <select
          class="form_input"
          formControlName="estado_origen"
          name="estado_origen"
        >
        <option value="">Selecciona el Estado de origen</option>
          <option [value]="state.value" *ngFor="let state of estates_mexico_options">{{state.text}}</option>
        </select>
        <div
          *ngIf="
          pacienteForm.get('estado_origen')?.hasError('required') &&
          pacienteForm.get('estado_origen')?.touched
          "
          class="error-message"
        >
          El Estado de origen es requerido.
        </div>
      </div>

      <div>
        <select
          class="form_input"
          formControlName="ciudad_origen"
          name="ciudad_origen"
        >
        <option value="">Selecciona la ciudad de origen</option>
          <option [value]="city.value" *ngFor="let city of cities_options">{{city.text}}</option>
        </select>
        <div
          *ngIf="
          pacienteForm.get('ciudad_origen')?.hasError('required') &&
          pacienteForm.get('ciudad_origen')?.touched
          "
          class="error-message"
        >
          La Ciudad de origen es requerido.
        </div>
      </div>

      <div>
        <select
          class="form_input"
          formControlName="ciudad_Actual"
          name="ciudad_Actual"
        >
        <option value="">Selecciona la ciudad actual</option>
          <option [value]="city.value" *ngFor="let city of cities_options">{{city.text}}</option>
        </select>
        <div
          *ngIf="
          pacienteForm.get('ciudad_Actual')?.hasError('required') &&
          pacienteForm.get('ciudad_Actual')?.touched
          "
          class="error-message"
        >
          La Ciudad Actual es requerida.
        </div>
      </div>
      <div>
        <input
        class="form_input"
        type="text"
        placeholder="Ocupacion"
        formControlName="ocupacion"
        name="ocupacion"

        autocomplete="off"
      />
      <div
        *ngIf="
        pacienteForm.get('ocupacion')?.hasError('required') &&
        pacienteForm.get('ocupacion')?.touched
        "
        class="error-message"
      >
        La ocupacion es requerida.
      </div>
      </div>
      <div>
        <input
        class="form_input"
        type="text"
        placeholder="Nombre contacto de emergencia"
        formControlName="nombre_contacto_emergencia"
        name="nombre_contacto_emergencia"

        autocomplete="off"
      />
      <div
        *ngIf="
        pacienteForm.get('nombre_contacto_emergencia')?.hasError('required') &&
        pacienteForm.get('nombre_contacto_emergencia')?.touched
        "
        class="error-message"
      >
        El Nombre contacto de emergencia es requerido.
      </div>
      </div>

      <div>
        <select
          class="form_input"
          formControlName="parentesco_contacto_emergencia"
          name="parentesco_contacto_emergencia"
        >
        <option value="">Selecciona la Parentesco</option>
          <option [value]="parentesco.value" *ngFor="let parentesco of parentescos_options">{{parentesco.text}}</option>
        </select>
        <div
          *ngIf="
          pacienteForm.get('parentesco_contacto_emergencia')?.hasError('required') &&
          pacienteForm.get('parentesco_contacto_emergencia')?.touched
          "
          class="error-message"
        >
          El parentesco es requerido.
        </div>
      </div>

      <div>
        <input
        class="form_input"
        type="number"
        placeholder="Telefono Contacto de emergencia"
        formControlName="telefono_contacto_emergencia"
        name="telefono_contacto_emergencia"

        autocomplete="off"
      />
      <div
        *ngIf="
        pacienteForm.get('telefono_contacto_emergencia')?.hasError('required') &&
        pacienteForm.get('telefono_contacto_emergencia')?.touched
        "
        class="error-message"
      >
        El Telefono del contacto de emergencia es requerido.
      </div>
      </div>
      <button type="button" (click)="onSubmit()" class="btn_primary">Crear</button>
    </form>
  </div>
</main>

