<app-sidebar></app-sidebar>
<main class="main_container">
  <app-page-title [title]="'Historia Clinica'"></app-page-title>
  <form
    class="login-form"
    [formGroup]="historiaClinicaForm"
    (ngSubmit)="onSubmit()"
  >
    <div class="tabs">
      <div class="tabs__nav">
        <button
          class="tabs__nav-btn"
          [ngClass]="{ active: showPacienteInfoTab }"
          type="button"
          (click)="changeTab('informacion_general_del_paciente')"
        >
          Ficha de identificacion
        </button>
        <button
          class="tabs__nav-btn"
          [ngClass]="{ active: showAntecedentesInfoTab }"
          type="button"
          (click)="changeTab('antecedentes')"
        >
          Antecedentes
        </button>
        <button
          class="tabs__nav-btn"
          [ngClass]="{ active: showAparatosInfoTab }"
          type="button"
          (click)="changeTab('aparatos_y_sistemas')"
        >
          Aparatos y sistemas
        </button>
        <button
          class="tabs__nav-btn"
          [ngClass]="{ active: showExploracionInfoTab }"
          type="button"
          (click)="changeTab('exploracion_fisica')"
        >
          Exploracion Fisica
        </button>

        <button
          class="tabs__nav-btn"
          [ngClass]="{ active: showAutorizacionInfoTab }"
          type="button"
          (click)="changeTab('carta')"
        >
          Carta de Consentimiento
        </button>

      </div>
      <div class="tabs__content">
        <div *ngIf="showPacienteInfoTab" class="informacion_general_paciente">
          <h3>INFORMACION GENERAL DEL PACIENTE</h3>
          <div class="form_container">
            <div class="form_control">
              <label for="" class="label_input">Nombre Completo:</label>
              <input
                class="form_input"
                type="text"
                placeholder="Nombre completo"
                formControlName="nombre_completo"
                name="nombre_completo"
                autocomplete="off"
                [readonly]="isAprobadoAnyConsulta"
              />
              <div
                *ngIf="
                  historiaClinicaForm
                    .get('nombre_completo')
                    ?.hasError('required') &&
                  historiaClinicaForm.get('nombre_completo')?.touched
                "
                class="error-message"
              >
                El nombre completo es requerido.
              </div>
            </div>

            <div class="form_control">
              <label for="" class="label_input">Fecha de nacimiento:</label>
              <input
                class="form_input"
                type="date"
                placeholder="Fecha de nacimiento"
                formControlName="fecha_de_nacimiento"
                name="fecha_de_nacimiento"
                autocomplete="off"
                [readonly]="isAprobadoAnyConsulta"
              />
              <div
                *ngIf="
                  historiaClinicaForm
                    .get('fecha_de_nacimiento')
                    ?.hasError('required') &&
                  historiaClinicaForm.get('fecha_de_nacimiento')?.touched
                "
                class="error-message"
              >
                La fecha de nacimiento es requerida.
              </div>
            </div>

            <div class="form_control">
              <label for="" class="label_input">Genero:</label>
              <select
                class="form_input"
                formControlName="genero"
                name="genero"
                [ngClass]="{ deshabilitado: isAprobadoAnyConsulta }"
              >
                <option value="">Selecciona el genero</option>
                <option
                  [value]="gender.value"
                  *ngFor="let gender of gender_options"
                >
                  {{ gender.text }}
                </option>
              </select>
              <div
                *ngIf="
                  historiaClinicaForm.get('genero')?.hasError('required') &&
                  historiaClinicaForm.get('genero')?.touched
                "
                class="error-message"
              >
                El genero es requerido.
              </div>
            </div>

            <div class="form_control">
              <label for="" class="label_input">Estado civil:</label>
              <select
                [ngClass]="{ deshabilitado: isAprobadoAnyConsulta }"
                class="form_input"
                formControlName="estado_civil"
                name="estado_civil"
              >
                <option value="">Selecciona el Estado civil</option>
                <option
                  [value]="status.value"
                  *ngFor="let status of status_options"
                >
                  {{ status.text }}
                </option>
              </select>
              <div
                *ngIf="
                  historiaClinicaForm
                    .get('estado_civil')
                    ?.hasError('required') &&
                  historiaClinicaForm.get('estado_civil')?.touched
                "
                class="error-message"
              >
                El Estado civil es requerido.
              </div>
            </div>

            <div class="form_control">
              <label for="" class="label_input">Domicilio:</label>
              <input
                [readonly]="isAprobadoAnyConsulta"
                class="form_input"
                type="text"
                placeholder="Domicilio"
                formControlName="domicilio"
                name="domicilio"
                autocomplete="off"
              />
              <div
                *ngIf="
                  historiaClinicaForm.get('domicilio')?.hasError('required') &&
                  historiaClinicaForm.get('domicilio')?.touched
                "
                class="error-message"
              >
                El domicilio es requerido.
              </div>
            </div>

            <div class="form_control">
              <label for="" class="label_input">Telefono:</label>
              <input
                [readonly]="isAprobadoAnyConsulta"
                class="form_input"
                type="number"
                placeholder="Telefono"
                formControlName="telefono"
                name="telefono"
                autocomplete="off"
              />
              <div
                *ngIf="
                  historiaClinicaForm.get('telefono')?.hasError('required') &&
                  historiaClinicaForm.get('telefono')?.touched
                "
                class="error-message"
              >
                El Telefono es requerido.
              </div>
            </div>

            <div class="form_control">
              <label for="" class="label_input">Pais:</label>
              <input
                [readonly]="isAprobadoAnyConsulta"
                class="form_input"
                type="text"
                placeholder="Pais de origen"
                formControlName="pais_origen"
                name="pais_origen"
                autocomplete="off"
              />
              <div
                *ngIf="
                  historiaClinicaForm
                    .get('pais_origen')
                    ?.hasError('required') &&
                  historiaClinicaForm.get('pais_origen')?.touched
                "
                class="error-message"
              >
                El Pais de origen es requerido.
              </div>
            </div>

            <div class="form_control">
              <label for="" class="label_input">Estado:</label>
              <input
                [readonly]="isAprobadoAnyConsulta"
                class="form_input"
                type="text"
                placeholder="Estado de origen"
                formControlName="estado_origen"
                name="estado_origen"
                autocomplete="off"
              />
              <div
                *ngIf="
                  historiaClinicaForm
                    .get('estado_origen')
                    ?.hasError('required') &&
                  historiaClinicaForm.get('estado_origen')?.touched
                "
                class="error-message"
              >
                El estado de origen es requerido.
              </div>
            </div>

            <div class="form_control">
              <label for="" class="label_input">Ciudad:</label>
              <input
                [readonly]="isAprobadoAnyConsulta"
                class="form_input"
                type="text"
                placeholder="Ciudad de origen"
                formControlName="ciudad_origen"
                name="telefono"
                autocomplete="off"
              />
              <div
                *ngIf="
                  historiaClinicaForm
                    .get('ciudad_origen')
                    ?.hasError('required') &&
                  historiaClinicaForm.get('ciudad_origen')?.touched
                "
                class="error-message"
              >
                La ciudad de origen es requerido.
              </div>
            </div>

            <div class="form_control">
              <label for="" class="label_input">Ciudad:</label>
              <input
                [readonly]="isAprobadoAnyConsulta"
                class="form_input"
                type="text"
                placeholder="Ciudad actual"
                formControlName="ciudad_Actual"
                name="telefono"
                autocomplete="off"
              />
              <div
                *ngIf="
                  historiaClinicaForm
                    .get('ciudad_Actual')
                    ?.hasError('required') &&
                  historiaClinicaForm.get('ciudad_Actual')?.touched
                "
                class="error-message"
              >
                La ciudad actual es requerido.
              </div>
            </div>

            <div class="form_control">
              <label for="" class="label_input">Ocupacion:</label>
              <input
                [ngClass]="{ deshabilitado: isAprobadoAnyConsulta }"
                class="form_input"
                type="text"
                placeholder="Ocupacion"
                formControlName="ocupacion"
                name="ocupacion"
                autocomplete="off"
              />
              <div
                *ngIf="
                  historiaClinicaForm.get('ocupacion')?.hasError('required') &&
                  historiaClinicaForm.get('ocupacion')?.touched
                "
                class="error-message"
              >
                La ocupacion es requerida.
              </div>
            </div>
            <div class="form_control">
              <label for="" class="label_input"
                >Nombre del contacto de emergencia:</label
              >
              <input
                class="form_input"
                [readonly]="isAprobadoAnyConsulta"
                type="text"
                placeholder="Nombre contacto de emergencia"
                formControlName="nombre_contacto_emergencia"
                name="nombre_contacto_emergencia"
                autocomplete="off"
              />
              <div
                *ngIf="
                  historiaClinicaForm
                    .get('nombre_contacto_emergencia')
                    ?.hasError('required') &&
                  historiaClinicaForm.get('nombre_contacto_emergencia')?.touched
                "
                class="error-message"
              >
                El Nombre contacto de emergencia es requerido.
              </div>
            </div>

            <div class="form_control">
              <label for="" class="label_input"
                >Parentesco del contacto de emergencia:</label
              >
              <select
                [ngClass]="{ deshabilitado: isAprobadoAnyConsulta }"
                class="form_input"
                formControlName="parentesco_contacto_emergencia"
                name="parentesco_contacto_emergencia"
              >
                <option value="">Selecciona la Parentesco</option>
                <option
                  [value]="parentesco.value"
                  *ngFor="let parentesco of parentescos_options"
                >
                  {{ parentesco.text }}
                </option>
              </select>
              <div
                *ngIf="
                  historiaClinicaForm
                    .get('parentesco_contacto_emergencia')
                    ?.hasError('required') &&
                  historiaClinicaForm.get('parentesco_contacto_emergencia')
                    ?.touched
                "
                class="error-message"
              >
                El parentesco es requerido.
              </div>
            </div>

            <div class="form_control">
              <label for="" class="label_input"
                >Telefono del contacto de emergencia:</label
              >
              <input
                class="form_input"
                [readonly]="isAprobadoAnyConsulta"
                type="number"
                placeholder="Telefono Contacto de emergencia"
                formControlName="telefono_contacto_emergencia"
                name="telefono_contacto_emergencia"
                autocomplete="off"
              />
              <div
                *ngIf="
                  historiaClinicaForm
                    .get('telefono_contacto_emergencia')
                    ?.hasError('required') &&
                  historiaClinicaForm.get('telefono_contacto_emergencia')
                    ?.touched
                "
                class="error-message"
              >
                El Telefono del contacto de emergencia es requerido.
              </div>
            </div>
          </div>
          <button type="button" class="btn_primary" (click)="nextPaso2()">
            Siguiente paso
          </button>
        </div>
        <div *ngIf="showAntecedentesInfoTab">
          <h3>ANTECEDENTES</h3>
          <div class="form_control">
            <label for="" class="label_input">Antecedentes hereditarios:</label>
            <p>Padres, Hermanos,Conyuge,Hijos,Colaterales.</p>
            <textarea
              [readonly]="isAprobadoAnyConsulta"
              class="form_input form_textarea"
              formControlName="antecedentes_hereditarios"
            >
            </textarea>
          </div>
          <div
            class="antecedentes_personales_no_patologicos_container"
            style="margin-top: 20px"
          >
            <h3 style="margin-bottom: 10px; color: #b21e36">
              ANTECEDENTES PERSONALES NO PATOLOGICOS:
            </h3>
            <div class="form_control_check">
              <div>
                <label for="" class="form_label">Alcoholismo:</label>
                <input
                  [ngClass]="{ deshabilitado: isAprobadoAnyConsulta }"
                  type="checkbox"
                  formControlName="alcoholismo"
                  class="checkbox_input"
                />
              </div>
              <div>
                <label for="" class="form_label">tabaquismo:</label>
                <input
                  [ngClass]="{ deshabilitado: isAprobadoAnyConsulta }"
                  type="checkbox"
                  formControlName="tabaquismo"
                  class="checkbox_input"
                />
              </div>
              <div>
                <label for="" class="form_label">toxicomanias:</label>
                <input
                  [ngClass]="{ deshabilitado: isAprobadoAnyConsulta }"
                  type="checkbox"
                  formControlName="toxicomanias"
                  class="checkbox_input"
                />
              </div>
              <div>
                <label for="" class="form_label">higiene: </label>
                <input
                  [ngClass]="{ deshabilitado: isAprobadoAnyConsulta }"
                  type="checkbox"
                  formControlName="higiene"
                  class="checkbox_input"
                />
              </div>
              <div>
                <label for="" class="form_label">alimentacion: </label>
                <input
                  [ngClass]="{ deshabilitado: isAprobadoAnyConsulta }"
                  type="checkbox"
                  formControlName="alimentacion"
                  class="checkbox_input"
                />
              </div>
              <div>
                <label for="" class="form_label">condicion:</label>
                <input
                  [ngClass]="{ deshabilitado: isAprobadoAnyConsulta }"
                  type="checkbox"
                  formControlName="condicion"
                  class="checkbox_input"
                />
              </div>
              <div>
                <label for="" class="form_label">socioconomia:</label>
                <input
                  [ngClass]="{ deshabilitado: isAprobadoAnyConsulta }"
                  type="checkbox"
                  formControlName="socioconomia"
                  class="checkbox_input"
                />
              </div>
              <div>
                <label for="" class="form_label"> habitos:</label>
                <input
                  [ngClass]="{ deshabilitado: isAprobadoAnyConsulta }"
                  type="checkbox"
                  formControlName="habitos"
                  class="checkbox_input"
                />
              </div>
            </div>
            <div class="form_control">
              <label for="" class="label_input">Comentarios:</label>

              <textarea
                [readonly]="isAprobadoAnyConsulta"
                class="form_input form_textarea"
                formControlName="ant_personales_otros_textarea"
              >
              </textarea>
            </div>
          </div>

          <div
            class="antecedentes_personales_patologicos_container"
            style="margin-top: 20px"
          >
            <h3 style="margin-bottom: 10px; color: #b21e36">
              ANTECEDENTES PERSONALES PATOLOGICOS:
            </h3>
            <div class="form_control_check">
              <div>
                <label for="" class="form_label"
                  >Enfermedades propias de la infancia:</label
                >
                <input
                  [ngClass]="{ deshabilitado: isAprobadoAnyConsulta }"
                  type="checkbox"
                  formControlName="enf_infancia"
                  class="checkbox_input"
                />
              </div>
              <div>
                <label for="" class="form_label">Fimicos:</label>
                <input
                  [ngClass]="{ deshabilitado: isAprobadoAnyConsulta }"
                  type="checkbox"
                  formControlName="Fimicos"
                  class="checkbox_input"
                />
              </div>
              <div>
                <label for="" class="form_label">Lueticos:</label>
                <input
                  [ngClass]="{ deshabilitado: isAprobadoAnyConsulta }"
                  type="checkbox"
                  formControlName="Lueticos"
                  class="checkbox_input"
                />
              </div>
              <div>
                <label for="" class="form_label">Diabeticos: </label>
                <input
                  [ngClass]="{ deshabilitado: isAprobadoAnyConsulta }"
                  type="checkbox"
                  formControlName="Diabeticos"
                  class="checkbox_input"
                />
              </div>
              <div>
                <label for="" class="form_label">Quirurgicos: </label>
                <input
                  [ngClass]="{ deshabilitado: isAprobadoAnyConsulta }"
                  type="checkbox"
                  formControlName="Quirurgicos"
                  class="checkbox_input"
                />
              </div>
              <div>
                <label for="" class="form_label">Traumaticos:</label>
                <input
                  [ngClass]="{ deshabilitado: isAprobadoAnyConsulta }"
                  type="checkbox"
                  formControlName="Traumaticos"
                  class="checkbox_input"
                />
              </div>
              <div>
                <label for="" class="form_label">Ictericos:</label>
                <input
                  [ngClass]="{ deshabilitado: isAprobadoAnyConsulta }"
                  type="checkbox"
                  formControlName="Ictericos"
                  class="checkbox_input"
                />
              </div>
              <div>
                <label for="" class="form_label"> Epilepticos:</label>
                <input
                  [ngClass]="{ deshabilitado: isAprobadoAnyConsulta }"
                  type="checkbox"
                  formControlName="Epilepticos"
                  class="checkbox_input"
                />
              </div>

              <div>
                <label for="" class="form_label"> Alergicos:</label>
                <input
                  [ngClass]="{ deshabilitado: isAprobadoAnyConsulta }"
                  type="checkbox"
                  formControlName="Alergicos"
                  class="checkbox_input"
                />
              </div>

              <div>
                <label for="" class="form_label"> Reumaticos:</label>
                <input
                  [ngClass]="{ deshabilitado: isAprobadoAnyConsulta }"
                  type="checkbox"
                  formControlName="Reumaticos"
                  class="checkbox_input"
                />
              </div>

              <div>
                <label for="" class="form_label"> Transfusiones:</label>
                <input
                  [ngClass]="{ deshabilitado: isAprobadoAnyConsulta }"
                  type="checkbox"
                  formControlName="Transfusiones"
                  class="checkbox_input"
                />
              </div>

              <div>
                <label for="" class="form_label">
                  Enfermedades Cardiovasculares:</label
                >
                <input
                  [ngClass]="{ deshabilitado: isAprobadoAnyConsulta }"
                  type="checkbox"
                  formControlName="Enfermedades_Cardiovasculares"
                  class="checkbox_input"
                />
              </div>

              <div>
                <label for="" class="form_label">
                  Incidencia de infecciones Bucales y tipos de
                  Odontologicas:</label
                >
                <input
                  [ngClass]="{ deshabilitado: isAprobadoAnyConsulta }"
                  type="checkbox"
                  formControlName="Incidencia_de_Infecciones_Bucales"
                  class="checkbox_input"
                />
              </div>

              <div>
                <label for="" class="form_label"> Neoplasticas:</label>
                <input
                  [ngClass]="{ deshabilitado: isAprobadoAnyConsulta }"
                  type="checkbox"
                  formControlName="Neoplasticas"
                  class="checkbox_input"
                />
              </div>

              <div>
                <label for="" class="form_label"> SIDA:</label>
                <input
                  [ngClass]="{ deshabilitado: isAprobadoAnyConsulta }"
                  type="checkbox"
                  formControlName="SIDA"
                  class="checkbox_input"
                />
              </div>
            </div>
            <div class="form_control">
              <label for="" class="label_input">Comentarios:</label>

              <textarea
                [readonly]="isAprobadoAnyConsulta"
                class="form_input form_textarea"
                formControlName="ant_personales_p_otros_textarea"
              >
              </textarea>
            </div>

            <div class="form_control">
              <label for="" class="label_input"
                >PADECIMIENTO ACTUAL - Principio:</label
              >

              <textarea
                [readonly]="isAprobadoAnyConsulta"
                class="form_input form_textarea"
                formControlName="padecimiento_principio"
              >
              </textarea>
            </div>

            <div class="form_control">
              <label for="" class="label_input">
                PADECIMIENTO ACTUAL - Evolucion:</label
              >

              <textarea
                [readonly]="isAprobadoAnyConsulta"
                class="form_input form_textarea"
                formControlName="padecimiento_evolucion"
              >
              </textarea>
            </div>

            <div class="form_control">
              <label for="" class="label_input"
                >PADECIMIENTO ACTUAL - Estado actual:</label
              >

              <textarea
                [readonly]="isAprobadoAnyConsulta"
                class="form_input form_textarea"
                formControlName="padecimiento_estado_actual"
              >
              </textarea>
            </div>
          </div>
          <button type="button" class="btn_primary" (click)="nextPaso3()">
            Siguiente paso
          </button>
        </div>
        <div *ngIf="showAparatosInfoTab" class="aparatos_y_sistemas">
          <h3>APARATOS Y SISTEMAS</h3>
          <div class="digestivo_container" style="margin-top: 20px">
            <h3 style="margin-bottom: 10px; color: #b21e36">Digestivo:</h3>
            <div class="form_control_check">
              <div>
                <label for="" class="form_label">Apetito:</label>
                <input
                  [ngClass]="{ deshabilitado: isAprobadoAnyConsulta }"
                  type="checkbox"
                  formControlName="aparatos_sistemas_digestivo_apetito"
                  class="checkbox_input"
                />
              </div>
              <div>
                <label for="" class="form_label">Masticacion:</label>
                <input
                  [ngClass]="{ deshabilitado: isAprobadoAnyConsulta }"
                  type="checkbox"
                  formControlName="aparatos_sistemas_digestivo_Masticacion"
                  class="checkbox_input"
                />
              </div>
              <div>
                <label for="" class="form_label">Deglucion:</label>
                <input
                  [ngClass]="{ deshabilitado: isAprobadoAnyConsulta }"
                  type="checkbox"
                  formControlName="aparatos_sistemas_digestivo_Deglucion"
                  class="checkbox_input"
                />
              </div>
              <div>
                <label for="" class="form_label">Disfagia:</label>
                <input
                  [ngClass]="{ deshabilitado: isAprobadoAnyConsulta }"
                  type="checkbox"
                  formControlName="aparatos_sistemas_digestivo_Disfagia"
                  class="checkbox_input"
                />
              </div>
              <div>
                <label for="" class="form_label">Nuaseas:</label>
                <input
                  [ngClass]="{ deshabilitado: isAprobadoAnyConsulta }"
                  type="checkbox"
                  formControlName="aparatos_sistemas_digestivo_Nauseas"
                  class="checkbox_input"
                />
              </div>
              <div>
                <label for="" class="form_label">Vomito:</label>
                <input
                  [ngClass]="{ deshabilitado: isAprobadoAnyConsulta }"
                  type="checkbox"
                  formControlName="aparatos_sistemas_digestivo_Vomito"
                  class="checkbox_input"
                />
              </div>
              <div>
                <label for="" class="form_label">Dolor abdominal:</label>
                <input
                  [ngClass]="{ deshabilitado: isAprobadoAnyConsulta }"
                  type="checkbox"
                  formControlName="aparatos_sistemas_digestivo_Dolor_Abdominal"
                  class="checkbox_input"
                />
              </div>
              <div>
                <label for="" class="form_label">Hematemsis:</label>
                <input
                  [ngClass]="{ deshabilitado: isAprobadoAnyConsulta }"
                  type="checkbox"
                  formControlName="aparatos_sistemas_digestivo_Hematemsis"
                  class="checkbox_input"
                />
              </div>
              <div>
                <label for="" class="form_label">Pirosis:</label>
                <input
                  [ngClass]="{ deshabilitado: isAprobadoAnyConsulta }"
                  type="checkbox"
                  formControlName="aparatos_sistemas_digestivo_Pirosis"
                  class="checkbox_input"
                />
              </div>
              <div>
                <label for="" class="form_label">Meteorismo:</label>
                <input
                  [ngClass]="{ deshabilitado: isAprobadoAnyConsulta }"
                  type="checkbox"
                  formControlName="aparatos_sistemas_digestivo_Meteorismo"
                  class="checkbox_input"
                />
              </div>
              <div>
                <label for="" class="form_label">Diarrea:</label>
                <input
                  [ngClass]="{ deshabilitado: isAprobadoAnyConsulta }"
                  type="checkbox"
                  formControlName="aparatos_sistemas_digestivo_Diarrea"
                  class="checkbox_input"
                />
              </div>
              <div>
                <label for="" class="form_label">Estrenimiento:</label>
                <input
                  [ngClass]="{ deshabilitado: isAprobadoAnyConsulta }"
                  type="checkbox"
                  formControlName="aparatos_sistemas_digestivo_Estrenimiento"
                  class="checkbox_input"
                />
              </div>
              <div>
                <label for="" class="form_label">Melena:</label>
                <input
                  [ngClass]="{ deshabilitado: isAprobadoAnyConsulta }"
                  type="checkbox"
                  formControlName="aparatos_sistemas_digestivo_Melena"
                  class="checkbox_input"
                />
              </div>
              <div>
                <label for="" class="form_label">Rectorragia:</label>
                <input
                  [ngClass]="{ deshabilitado: isAprobadoAnyConsulta }"
                  type="checkbox"
                  formControlName="aparatos_sistemas_digestivo_Rectorragia"
                  class="checkbox_input"
                />
              </div>
              <div>
                <label for="" class="form_label">Otro:</label>
                <input
                  [ngClass]="{ deshabilitado: isAprobadoAnyConsulta }"
                  type="checkbox"
                  class="checkbox_input"
                  formControlName="aparatos_sistemas_digestivo_Otros"
                  (click)="otroCheckbox()"
                />
              </div>
              <div class="form_control" *ngIf="showDigestivoOtroTextarea">
                <label for="" class="label_input">Cual?:</label>
                <input
                  [readonly]="isAprobadoAnyConsulta"
                  class="form_input"
                  type="text"
                  placeholder=""
                  formControlName="aparatos_sistemas_digestivo_Otros_textarea"
                  name="aparatos_sistemas_digestivo_Otros_textarea"
                  autocomplete="off"
                />
              </div>
            </div>
          </div>
          <div class="respiratorio_container" style="margin-top: 20px">
            <h3 style="margin-bottom: 10px; color: #b21e36">Respiratorio:</h3>
            <div class="form_control_check">
              <div>
                <label for="" class="form_label">Epistasis:</label>
                <input
                  [ngClass]="{ deshabilitado: isAprobadoAnyConsulta }"
                  type="checkbox"
                  formControlName="aparatos_sistemas_respiratorio_Epistasis"
                  class="checkbox_input"
                />
              </div>
              <div>
                <label for="" class="form_label">Tos:</label>
                <input
                  [ngClass]="{ deshabilitado: isAprobadoAnyConsulta }"
                  type="checkbox"
                  formControlName="aparatos_sistemas_respiratorio_Tos"
                  class="checkbox_input"
                />
              </div>
              <div>
                <label for="" class="form_label">Disnea:</label>
                <input
                  [ngClass]="{ deshabilitado: isAprobadoAnyConsulta }"
                  type="checkbox"
                  formControlName="aparatos_sistemas_respiratorio_Disnea"
                  class="checkbox_input"
                />
              </div>
              <div>
                <label for="" class="form_label">Expectoracion:</label>
                <input
                  [ngClass]="{ deshabilitado: isAprobadoAnyConsulta }"
                  type="checkbox"
                  formControlName="aparatos_sistemas_respiratorio_Expectoracion"
                  class="checkbox_input"
                />
              </div>
              <div>
                <label for="" class="form_label">Asma:</label>
                <input
                  [ngClass]="{ deshabilitado: isAprobadoAnyConsulta }"
                  type="checkbox"
                  formControlName="aparatos_sistemas_respiratorio_Asma"
                  class="checkbox_input"
                />
              </div>
              <div>
                <label for="" class="form_label">Dolor al respirar:</label>
                <input
                  [ngClass]="{ deshabilitado: isAprobadoAnyConsulta }"
                  type="checkbox"
                  formControlName="aparatos_sistemas_respiratorio_Dolor_al_respirar"
                  class="checkbox_input"
                />
              </div>
              <div>
                <label for="" class="form_label">Disfonia:</label>
                <input
                  [ngClass]="{ deshabilitado: isAprobadoAnyConsulta }"
                  type="checkbox"
                  formControlName="aparatos_sistemas_respiratorio_Disfonia"
                  class="checkbox_input"
                />
              </div>
              <div>
                <label for="" class="form_label">Gripa frecuente:</label>
                <input
                  [ngClass]="{ deshabilitado: isAprobadoAnyConsulta }"
                  type="checkbox"
                  formControlName="aparatos_sistemas_respiratorio_Gripa_frecuente"
                  class="checkbox_input"
                />
              </div>

              <div>
                <label for="" class="form_label">Otro:</label>
                <input
                  [ngClass]="{ deshabilitado: isAprobadoAnyConsulta }"
                  type="checkbox"
                  class="checkbox_input"
                  formControlName="aparatos_sistemas_respiratorio_Otros"
                  (click)="otroCheckbox()"
                />
              </div>
              <div class="form_control" *ngIf="showRespiratorioOtroTextarea">
                <label for="" class="label_input">Cual?:</label>
                <input
                  [readonly]="isAprobadoAnyConsulta"
                  class="form_input"
                  type="text"
                  placeholder=""
                  formControlName="aparatos_sistemas_respiratorio_Otros_textarea"
                  name="aparatos_sistemas_respiratorio_Otros_textarea"
                  autocomplete="off"
                />
              </div>
            </div>
          </div>
          <div class="circulatorio_container" style="margin-top: 20px">
            <h3 style="margin-bottom: 10px; color: #b21e36">Circulatorio:</h3>
            <div class="form_control_check">
              <div>
                <label for="" class="form_label">Disnea del esfuerzo:</label>
                <input
                  [ngClass]="{ deshabilitado: isAprobadoAnyConsulta }"
                  type="checkbox"
                  formControlName="aparatos_sistemas_circulatorio_Disnea_del_esfuerzo"
                  class="checkbox_input"
                />
              </div>
              <div>
                <label for="" class="form_label">Dolor retroesternal:</label>
                <input
                  [ngClass]="{ deshabilitado: isAprobadoAnyConsulta }"
                  type="checkbox"
                  formControlName="aparatos_sistemas_circulatorio_Dolor_retroesternal"
                  class="checkbox_input"
                />
              </div>
              <div>
                <label for="" class="form_label">Palpitaciones:</label>
                <input
                  [ngClass]="{ deshabilitado: isAprobadoAnyConsulta }"
                  type="checkbox"
                  formControlName="aparatos_sistemas_circulatorio_Palpitaciones"
                  class="checkbox_input"
                />
              </div>
              <div>
                <label for="" class="form_label">Edema:</label>
                <input
                  [ngClass]="{ deshabilitado: isAprobadoAnyConsulta }"
                  type="checkbox"
                  formControlName="aparatos_sistemas_circulatorio_Edema"
                  class="checkbox_input"
                />
              </div>
              <div>
                <label for="" class="form_label">Lipotimias:</label>
                <input
                  [ngClass]="{ deshabilitado: isAprobadoAnyConsulta }"
                  type="checkbox"
                  formControlName="aparatos_sistemas_circulatorio_Lipotimias"
                  class="checkbox_input"
                />
              </div>
              <div>
                <label for="" class="form_label">Calambres:</label>
                <input
                  [ngClass]="{ deshabilitado: isAprobadoAnyConsulta }"
                  type="checkbox"
                  formControlName="aparatos_sistemas_circulatorio_Calambres"
                  class="checkbox_input"
                />
              </div>
              <div>
                <label for="" class="form_label">Cianosis:</label>
                <input
                  [ngClass]="{ deshabilitado: isAprobadoAnyConsulta }"
                  type="checkbox"
                  formControlName="aparatos_sistemas_circulatorio_Cianosis"
                  class="checkbox_input"
                />
              </div>
              <div>
                <label for="" class="form_label">Acufenos:</label>
                <input
                  [ngClass]="{ deshabilitado: isAprobadoAnyConsulta }"
                  type="checkbox"
                  formControlName="aparatos_sistemas_circulatorio_Acufenos"
                  class="checkbox_input"
                />
              </div>
              <div>
                <label for="" class="form_label">Fosfenos:</label>
                <input
                  [ngClass]="{ deshabilitado: isAprobadoAnyConsulta }"
                  type="checkbox"
                  formControlName="aparatos_sistemas_circulatorio_Fosfenos"
                  class="checkbox_input"
                />
              </div>
              <div>
                <label for="" class="form_label">Otro:</label>
                <input
                  [ngClass]="{ deshabilitado: isAprobadoAnyConsulta }"
                  type="checkbox"
                  class="checkbox_input"
                  formControlName="aparatos_sistemas_circulatorio_Otros"
                  (click)="otroCheckbox()"
                />
              </div>
              <div class="form_control" *ngIf="showCirculatorioOtroTextarea">
                <label for="" class="label_input">Cual?:</label>
                <input
                  [readonly]="isAprobadoAnyConsulta"
                  class="form_input"
                  type="text"
                  placeholder=""
                  formControlName="aparatos_sistemas_circulatorio_Otros_textarea"
                  name="aparatos_sistemas_circulatorio_Otros_textarea"
                  autocomplete="off"
                />
              </div>
            </div>
          </div>
          <div class="genito_urinario_container" style="margin-top: 20px">
            <h3 style="margin-bottom: 10px; color: #b21e36">
              Genito Urinario:
            </h3>
            <div class="form_control_check">
              <div>
                <label for="" class="form_label"
                  >Frecuencia de micciones:</label
                >
                <input
                  [ngClass]="{ deshabilitado: isAprobadoAnyConsulta }"
                  type="checkbox"
                  formControlName="aparatos_sistemas_genito_urinario_Frecuencia_de_micciones"
                  class="checkbox_input"
                />
              </div>
              <div>
                <label for="" class="form_label">Color:</label>
                <input
                  [ngClass]="{ deshabilitado: isAprobadoAnyConsulta }"
                  type="checkbox"
                  formControlName="aparatos_sistemas_genito_urinario_Color"
                  class="checkbox_input"
                />
              </div>
              <div>
                <label for="" class="form_label">Diuria:</label>
                <input
                  [ngClass]="{ deshabilitado: isAprobadoAnyConsulta }"
                  type="checkbox"
                  formControlName="aparatos_sistemas_genito_urinario_Diuria"
                  class="checkbox_input"
                />
              </div>
              <div>
                <label for="" class="form_label">Nicturia:</label>
                <input
                  [ngClass]="{ deshabilitado: isAprobadoAnyConsulta }"
                  type="checkbox"
                  formControlName="aparatos_sistemas_genito_urinario_Nicturia"
                  class="checkbox_input"
                />
              </div>
              <div>
                <label for="" class="form_label">Hematuria:</label>
                <input
                  [ngClass]="{ deshabilitado: isAprobadoAnyConsulta }"
                  type="checkbox"
                  formControlName="aparatos_sistemas_genito_urinario_Hematuria"
                  class="checkbox_input"
                />
              </div>
              <div>
                <label for="" class="form_label">Poliuria:</label>
                <input
                  [ngClass]="{ deshabilitado: isAprobadoAnyConsulta }"
                  type="checkbox"
                  formControlName="aparatos_sistemas_genito_urinario_Poliuria"
                  class="checkbox_input"
                />
              </div>
              <div>
                <label for="" class="form_label">Otro:</label>
                <input
                  [ngClass]="{ deshabilitado: isAprobadoAnyConsulta }"
                  type="checkbox"
                  class="checkbox_input"
                  formControlName="aparatos_sistemas_genito_urinario_Otros"
                  (click)="otroCheckbox()"
                />
              </div>
              <div class="form_control" *ngIf="showGenitoUrinarioOtroTextarea">
                <label for="" class="label_input">Cual?:</label>
                <input
                  [readonly]="isAprobadoAnyConsulta"
                  class="form_input"
                  type="text"
                  placeholder=""
                  formControlName="aparatos_sistemas_genito_urinario_Otros_textarea"
                  name="aparatos_sistemas_genito_urinario_Otros_textarea"
                  autocomplete="off"
                />
              </div>
            </div>
          </div>
          <div class="sistema_nervioso_container" style="margin-top: 20px">
            <h3 style="margin-bottom: 10px; color: #b21e36">
              Sistema Nervioso:
            </h3>
            <div class="form_control_check">
              <div>
                <label for="" class="form_label">Ansiedad:</label>
                <input
                  [ngClass]="{ deshabilitado: isAprobadoAnyConsulta }"
                  type="checkbox"
                  formControlName="aparatos_sistemas_sist_nervioso_Ansiedad"
                  class="checkbox_input"
                />
              </div>
              <div>
                <label for="" class="form_label">Temor:</label>
                <input
                  [ngClass]="{ deshabilitado: isAprobadoAnyConsulta }"
                  type="checkbox"
                  formControlName="aparatos_sistemas_sist_nervioso_Temor"
                  class="checkbox_input"
                />
              </div>
              <div>
                <label for="" class="form_label">Convulciones:</label>
                <input
                  [ngClass]="{ deshabilitado: isAprobadoAnyConsulta }"
                  type="checkbox"
                  formControlName="aparatos_sistemas_sist_nervioso_Convulciones"
                  class="checkbox_input"
                />
              </div>
              <div>
                <label for="" class="form_label">Paralisis:</label>
                <input
                  [ngClass]="{ deshabilitado: isAprobadoAnyConsulta }"
                  type="checkbox"
                  formControlName="aparatos_sistemas_sist_nervioso_Paralisis"
                  class="checkbox_input"
                />
              </div>
              <div>
                <label for="" class="form_label">Temblores:</label>
                <input
                  [ngClass]="{ deshabilitado: isAprobadoAnyConsulta }"
                  type="checkbox"
                  formControlName="aparatos_sistemas_sist_nervioso_Temblores"
                  class="checkbox_input"
                />
              </div>
              <div>
                <label for="" class="form_label">Tics:</label>
                <input
                  [ngClass]="{ deshabilitado: isAprobadoAnyConsulta }"
                  type="checkbox"
                  formControlName="aparatos_sistemas_sist_nervioso_Tics"
                  class="checkbox_input"
                />
              </div>
              <div>
                <label for="" class="form_label">Vista:</label>
                <input
                  [ngClass]="{ deshabilitado: isAprobadoAnyConsulta }"
                  type="checkbox"
                  formControlName="aparatos_sistemas_sist_nervioso_Vista"
                  class="checkbox_input"
                />
              </div>
              <div>
                <label for="" class="form_label">Oido:</label>
                <input
                  [ngClass]="{ deshabilitado: isAprobadoAnyConsulta }"
                  type="checkbox"
                  formControlName="aparatos_sistemas_sist_nervioso_Oido"
                  class="checkbox_input"
                />
              </div>
              <div>
                <label for="" class="form_label">Tacto:</label>
                <input
                  [ngClass]="{ deshabilitado: isAprobadoAnyConsulta }"
                  type="checkbox"
                  formControlName="aparatos_sistemas_sist_nervioso_Tacto"
                  class="checkbox_input"
                />
              </div>
              <div>
                <label for="" class="form_label">Otro:</label>
                <input
                  [ngClass]="{ deshabilitado: isAprobadoAnyConsulta }"
                  type="checkbox"
                  class="checkbox_input"
                  formControlName="aparatos_sistemas_sist_nervioso_Otros"
                  (click)="otroCheckbox()"
                />
              </div>
              <div class="form_control" *ngIf="showSistNerviosoOtroTextarea">
                <label for="" class="label_input">Cual?:</label>
                <input
                  [readonly]="isAprobadoAnyConsulta"
                  class="form_input"
                  type="text"
                  placeholder=""
                  formControlName="aparatos_sistemas_sist_nervioso_Otros_textarea"
                  name="aparatos_sistemas_sist_nervioso_Otros_textarea"
                  autocomplete="off"
                />
              </div>
            </div>
          </div>
          <div class="sintomas_generales_container" style="margin-top: 20px">
            <h3 style="margin-bottom: 10px; color: #b21e36">
              Sintomas Generales:
            </h3>
            <div class="form_control_check">
              <div>
                <label for="" class="form_label">Variacion de peso:</label>
                <input
                  [ngClass]="{ deshabilitado: isAprobadoAnyConsulta }"
                  type="checkbox"
                  formControlName="aparatos_sistemas_sintomas_generales_Variacion_de_peso"
                  class="checkbox_input"
                />
              </div>
              <div>
                <label for="" class="form_label">Astenia:</label>
                <input
                  [ngClass]="{ deshabilitado: isAprobadoAnyConsulta }"
                  type="checkbox"
                  formControlName="aparatos_sistemas_sintomas_generales_Astenia"
                  class="checkbox_input"
                />
              </div>
              <div>
                <label for="" class="form_label">Adinamia:</label>
                <input
                  [ngClass]="{ deshabilitado: isAprobadoAnyConsulta }"
                  type="checkbox"
                  formControlName="aparatos_sistemas_sintomas_generales_Adinamia"
                  class="checkbox_input"
                />
              </div>
              <div>
                <label for="" class="form_label">Fiebre:</label>
                <input
                  [ngClass]="{ deshabilitado: isAprobadoAnyConsulta }"
                  type="checkbox"
                  formControlName="aparatos_sistemas_sintomas_generales_Fiebre"
                  class="checkbox_input"
                />
              </div>
              <div>
                <label for="" class="form_label">Escalofrios:</label>
                <input
                  [ngClass]="{ deshabilitado: isAprobadoAnyConsulta }"
                  type="checkbox"
                  formControlName="aparatos_sistemas_sintomas_generales_Escalofrios"
                  class="checkbox_input"
                />
              </div>
              <div>
                <label for="" class="form_label"
                  >Cambio de coloracion en piel y mucosa:</label
                >
                <input
                  [ngClass]="{ deshabilitado: isAprobadoAnyConsulta }"
                  type="checkbox"
                  formControlName="aparatos_sistemas_sintomas_generales_Cambio_de_coloracaion_en_piel_y_mucosa"
                  class="checkbox_input"
                />
              </div>
              <div>
                <label for="" class="form_label">Anorexia:</label>
                <input
                  [ngClass]="{ deshabilitado: isAprobadoAnyConsulta }"
                  type="checkbox"
                  formControlName="aparatos_sistemas_sintomas_generales_Anorexia"
                  class="checkbox_input"
                />
              </div>
              <div>
                <label for="" class="form_label">Otro:</label>
                <input
                  [ngClass]="{ deshabilitado: isAprobadoAnyConsulta }"
                  type="checkbox"
                  class="checkbox_input"
                  formControlName="aparatos_sistemas_sintomas_generales_otros"
                  (click)="otroCheckbox()"
                />
              </div>
              <div
                class="form_control"
                *ngIf="showSintomasGeneralesOtroTextarea"
              >
                <label for="" class="label_input">Cual?:</label>
                <input
                  [readonly]="isAprobadoAnyConsulta"
                  class="form_input"
                  type="text"
                  placeholder=""
                  formControlName="aparatos_sistemas_sintomas_generales_otros_textarea"
                  name="aparatos_sistemas_sintomas_generales_otros_textarea"
                  autocomplete="off"
                />
              </div>
            </div>
          </div>
          <button type="button" class="btn_primary" (click)="nextPaso4()">
            Siguiente paso
          </button>
        </div>
        <div *ngIf="showExploracionInfoTab">
          <h3>EXPLORACION FISICA</h3>
          <div class="habitus_exterior_container" style="margin-top: 20px">
            <h3 style="margin-bottom: 10px; color: #b21e36">
              Habitus Exterior:
            </h3>
            <div class="form_control">
              <label for="" class="label_input"
                >Raza, Sexo, Edad Aparente, Facies, Estado de Conciencia:</label
              >
              <textarea
                [readonly]="isAprobadoAnyConsulta"
                class="form_input form_textarea"
                formControlName="exploracion_fisica_raza_sexo_edad_facies_estado_conciencia"
              >
              </textarea>
            </div>
            <div class="form_control">
              <label for="" class="label_input"
                >Actitud, Constitucion, Conformacion, Marcha, Movimientos
                Anormales:</label
              >
              <textarea
                [readonly]="isAprobadoAnyConsulta"
                class="form_input form_textarea"
                formControlName="exploracion_fisica_actitud_constitucion_marcha_movimientos_anormales"
              >
              </textarea>
            </div>
            <div class="form_control">
              <label for="" class="label_input">Signos Vitales:</label>
              <input
                [readonly]="isAprobadoAnyConsulta"
                class="form_input"
                type="text"
                placeholder=""
                formControlName="exploracion_fisica_signos_vitales"
                name="exploracion_fisica_signos_vitales"
                autocomplete="off"
              />
            </div>
            <div class="form_control">
              <label for="" class="label_input">T/A:</label>
              <input
                [readonly]="isAprobadoAnyConsulta"
                class="form_input"
                type="text"
                placeholder=""
                formControlName="exploracion_fisica_TA"
                name="exploracion_fisica_TA"
                autocomplete="off"
              />
            </div>
            <div class="form_control">
              <label for="" class="label_input">Frec Respiratoria:</label>
              <input
                [readonly]="isAprobadoAnyConsulta"
                class="form_input"
                type="text"
                placeholder=""
                formControlName="exploracion_fisica_frec_respiratoria"
                name="exploracion_fisica_frec_respiratoria"
                autocomplete="off"
              />
            </div>
            <div class="form_control">
              <label for="" class="label_input">Temperatura:</label>
              <input
                [readonly]="isAprobadoAnyConsulta"
                class="form_input"
                type="text"
                placeholder=""
                formControlName="exploracion_fisica_temperatura"
                name="exploracion_fisica_temperatura"
                autocomplete="off"
              />
            </div>
            <div class="form_control">
              <label for="" class="label_input">Peso:</label>
              <input
                [readonly]="isAprobadoAnyConsulta"
                class="form_input"
                type="text"
                placeholder=""
                formControlName="exploracion_fisica_peso"
                name="exploracion_fisica_peso"
                autocomplete="off"
              />
            </div>
          </div>
         
        </div>
        

        <!--Carta de autorizacion-->
        <div *ngIf="showAutorizacionInfoTab" class="contenedor_carta">
          <div>
          <h3>AUTORIZACION PARA TRATAMIENTO DENTAL</h3>
          <p>Por medio de la presente concedo autorizacion al Personal Medico Odontologico y Asistente Dental
          de esta Facultad de Odontologia para administrar anestesicos y otros medicamentos, asi como emplear 
          metodos tecnicos y quirurgicos considerados necesarios o aconsejables en el diagnostico y para el 
          Tratamiento de mi problema de salud oral.</p>
          <br>
          <p>Estoy consciente de que dichos procedimientos pueden causar reacciones que sean leves,
            moderadas o graves, y que en casos extremos pueden ser fatales.
          </p>


            <div class="concentimiento" *ngIf="esMayorDeEdad">
              <div class="nombre">
                <label for="nombrePaciente">NOMBRE DEL PACIENTE:</label>
                <label>{{this.historiaClinicaForm.controls.nombre_completo.value}}</label>
              </div>
              
              <div class="firma-placeholder">
                <label>FIRMA DEL PACIENTE:</label>
                <ngx-signature-pad
              #signature
              [options]="options"
              (beginSign)="onBeginSign()"
              (endSign)="onEndSign()"
              >
              </ngx-signature-pad>
              </div>
            </div>

            

            <!--<div class="nombre">
                <label for="nombrePaciente">Nombre del paciente:</label>
              <input type="text" id="nombrePaciente" name="nombrePaciente" placeholder="Ingrese su nombre">
              </div>
              
              <div class="firma-placeholder">Firma del paciente:</div>-->
              <div class="concentimiento" *ngIf="esMenordeEdad">
                <div class="nombre">
                  <label for="nombrePaciente">NOMBRE DEL PADRE O TUTOR:</label>
                  <input type="text" formControlName="nombre_tutor" class="form_input">
                </div>

                <div class="firma-placeholder">
                  <label>FIRMA DEL PADRE O TUTOR</label>
                  <ngx-signature-pad
                #signature
                [options]="options"
                (beginSign)="onBeginSign()"
                (endSign)="onEndSign()"
                >
                </ngx-signature-pad>
                </div>
              </div>
            </div>
            <button type="submit" class="btn_primary" >
              crear
            </button>
        </div>
      </div>
    </div>
    
  </form>
  <div></div>
</main>
