<app-sidebar></app-sidebar>
<main class="main_container">
        <body>
            <div class="welcome">
                <div class="welcome__banner">
                    <p>Odontología UADEC</p>
                </div>
                <article class="welcome__article">
                    <h2>¡Bienvenido, Estudiante!</h2>
                    <p class="welcome__text">Estamos encantados de tenerte en nuestro sistema de la Escuela de Odontología. Tu acceso te permite consultar las visitas de los pacientes, lo que es esencial para tu formación.</p>
                    <button class="welcome__button">Comenzar</button>
                    <p class="welcome__text">Podrás acceder a información valiosa sobre las visitas de los pacientes, lo que te ayudará a aprender y crecer como futuro profesional de la odontología. Aprovecha esta oportunidad y explora las experiencias clínicas que te esperan. ¡Bienvenido a la comunidad odontológica!</p>
                </article>
            </div>
        </body>
</main>