.tabs {
    width: 100%;
    margin: auto;
    cursor: pointer;
}
.alerts{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}


.tabs__nav {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}

.form_container{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 10px;
    max-width: 800px;
    padding: 10px;

}
h3{
    margin-top: 10px;
}
.btn_primary{
    margin-bottom: 10px!important;
}



.tabs__nav-btn {
    padding: 15px 30px;
    font-size: 14px;
    background-color: #f5f5f5;
    border: 0;
    border-right: 1px solid #ddd;
    cursor: pointer;
    text-align: center;

}
.deshabilitado {
    pointer-events: none; 
  }
  
  /* Estilos responsivos */
  @media (max-width: 768px) {
    .tabs {
      grid-template-columns: 1fr;
      margin: 0 auto;
    }
  }

.tabs__nav-btn:last-child {
    border-right: none;
}

.tabs__nav-btn:hover {
    background-color: #ddd;
}

.tabs__nav-btn.active {
    background-color: #b21e36;
    border-right-color: #b21e36;
    color: #fff;
}

.tabs__content form{
    display: grid;
    gap: 10px;
    margin: 0 auto;
    background-color: #fff;
    max-width: max-content;
    
}
.tabs__content label{
    display: block;
    width: 100%;
}
.tabs__content input {
    padding: 5px;
    margin-top: 5px;
    padding: 10px;
  }

.tabs__item {
    display: none;
}

.tabs__item.active {
    display: block;
}

.circle {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    //background-color: #3498db;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid black;
}

.circle_active{
    background-color: #b21e36!important;
}
.inner-circle {
    width: 20px;
    height: 20px;
    border: 3px solid black;
  //  background-color: #e74c3c;
  background-color: white;
    border-radius: 50%;
    position: absolute;
    z-index: 99;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.diagonal {
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: black;
    transform-origin: 0 50%;
}

.diagonal-1 {
    top: 14%;
    left: 15%;
    transform: rotate(45deg);
}

.diagonal-2 {
    bottom: 14%;
    right: -15%;
    transform: rotate(-45deg);
}


.container_dientes_arriba {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    .row {
        display: flex;
        flex-direction: row;
    }
    .square_container{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }
   
    .number{
        width: 50px;
        height: 50px;
        color: black;
        text-align: center;
        line-height: 30px;
    }
    .square {
        width: 50px;
        height: 50px;
        color: black;
        text-align: center;
        line-height: 30px;
        border: 2px solid #333;
    }
    
    .empty-space {
        width: 30px;
        height: 30px;
        background-color: transparent;
    }
}

.odontograma{
    border: 2px soldi black;
}
.custom-alert {
    background-color: #fcf8e3;
    border-color: #faebcc;
    color: #8a6d3b;
    border-radius: 4px;
    padding: 15px;
    margin-bottom: 20px;
  }

  .clinic-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
  }
  
  .clinic-item {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .clinic-item.selected {
    background-color: black;
    color: white;
  }

  .gallery-container {
    display: flex;
    justify-content: center;
    padding: 10px;
  }
  
  .gallery-grid {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
  
  .gallery-item {
    overflow: hidden;
    position: relative;
  }
  
  .gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
  }
  
  .gallery-item:hover img {
    transform: scale(1.1);
    opacity: 0.7;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .gallery-item:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color: white;
    font-size: 1.2em;
    text-align: center;
  }

  .container {
    width: 300px;
    margin: 50px auto;
    text-align: center;
  }
  
  .cuadro {
    background-color: lightblue;
    padding: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    position: relative;
  }
  
  .cuadro i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .cuadro i:first-child {
    left: 10px; /* Ajuste de la posición del icono de círculo */
  }
  
  .cuadro i:last-child {
    right: 10px; /* Ajuste de la posición del icono de flecha */
  }
  
  .cuadro-oculto {
    display: none;
    background-color: lightgreen;
    padding: 20px;
  }
  