.form_input{
    width: 500px !important;
    @media (max-width: 537px) {
      width: 400px !important;
    }
    @media (max-width: 440px) {
      width: 360px !important;
    }
    @media (max-width: 400px) {
      width: 330px !important;
    }
}

.signaturePad {
    background-color: #F4F5F5;
    border-radius: 16px;
    width: 500px;
  }
  
  /* Consulta de medios para pantallas de ancho máximo de 537px */
  @media (max-width: 537px) {
    .signaturePad {
      width: 400px;
    }
  }
  
  /* Consulta de medios para pantallas de ancho máximo de 440px */
  @media (max-width: 440px) {
    .signaturePad {
      width: 360px;
    }
  }
  
  /* Consulta de medios para pantallas de ancho máximo de 400px */
  @media (max-width: 400px) {
    .signaturePad {
      width: 330px;
    }
  }
.firma_img{
    width: 500px !important;
    @media (max-width: 537px) {
      width: 400px !important;
    }
    @media (max-width: 440px) {
      width: 360px !important;
    }
    @media (max-width: 400px) {
      width: 330px !important;
    }
}

.user_selected {
  background-color: #b21e36;
  color: white;
}

.form_input,
.table_grid {
  width: 500px !important;
  @media (max-width: 537px) {
    width: 400px !important;
  }
  @media (max-width: 440px) {
    width: 360px !important;
  }
  @media (max-width: 400px) {
    width: 330px !important;
  }
}