<app-sidebar></app-sidebar>
<main class="main_container">
        <body>
            <div class="welcome">
                <div class="welcome__banner">
                    <p>Odontología UADEC</p>
                </div>
                <article class="welcome__article">
                    <h2>¡Bienvenido!</h2>
                    <p class="welcome__text">Tu rol en nuestra Escuela de Odontología es crucial, ya que tienes la capacidad de crear consultas en nuestro sistema. Estas consultas son fundamentales para la atención de nuestros pacientes y el funcionamiento eficiente de la clínica.</p>
                    <button class="welcome__button">Comenzar</button>
                    <p class="welcome__text">Con tu habilidad para crear consultas, estás contribuyendo directamente al cuidado de la salud bucal de nuestros pacientes y al aprendizaje de nuestros estudiantes. Tu trabajo es esencial, y estamos emocionados de tenerte en nuestro equipo.</p>
                </article>
            </div>
        </body>
</main>