.contendor_camara{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
}

.header-and-camera {
    display: flex;
    justify-content: start;
    width: 100%;
  }

.camera-interface {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    width: 600px;
    position: relative;
    
  }
  
  .camera-view {
    width: 300px; 
    height: 300px; 
    background-color: #eee; 
    border: 2px solid #ccc;
    border-radius: 10px;
  }
  
  .capture-button {
    width: 80px; 
    height: 80px;
    border: none;
    border-radius: 50%;
    background-color: #007BFF;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px; 
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin:0 auto; 
  }
  
  .capture-button:hover {
    background-color: #0056b3;
  }
  
  .fa-camera {
    font-size: 30px; 
  }

  .power-button {
    position: absolute;
    top: 20px;
    right: 10px;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    background-color: #ff4c4c;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .fa-power-off {
    font-size: 20px; 
  }

  .class_red_color{
    background-color: red;
  }

  .class_green_color{
    background-color: green;
  }

  .contenedor_nombre {
    position: relative;
    margin-bottom: 50px;
    margin: 20px;
    margin-top: 40px;
  }
  .contenedor_alerta{
    position: relative;
    margin-bottom: 50px;
    margin: 20px;
    width: 99%;
  }
  .nombreLabel {
    position: absolute;
    top: -30px; 
    left: 0;
    font-size: 18px;
    color: #000000;
    transition: all 0.3s ease;
  }

  .form_input {
    width: 50%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
  }
  