<app-sidebar></app-sidebar>
<main class="main_container">
  <app-page-title [title]="'Nuevo Paciente'"></app-page-title>
  <div>
    <div class="contenedor_alerta">
      <div class="alert alert-warning" role="alert">
        <strong>Atención:</strong>  Por favor, asegúrate de capturar correctamente todos los datos del paciente.<br> Los campos obligatorios están indicados con un asterisco rojo <strong>(*)</strong>.
      </div>
    </div>
    <form class="login-form" [formGroup]="pacienteForm" (ngSubmit)="onSubmit()">
      <div class="contenedor_nombre">
        <label class="nombreLabel">
          Nombre completo del paciente   <span style="color: red">*</span>
        </label>
        <input
        class="form_input"
        type="text"
        formControlName="nombre_completo"
        name="nombre_completo"
        appUppercase
        autocomplete="off"
      />
      <div
        *ngIf="
        pacienteForm.get('nombre_completo')?.hasError('required') &&
        pacienteForm.get('nombre_completo')?.touched
        "
        class="error-message"
      >
        El nombre completo es requerido.
      </div>
      </div>
        <div class="contendor_camara">
        <div class="header-and-camera">
          <h3>Fotografia del Paciente</h3>
          <span style="color: red">*</span>
        </div>
        <div class="camera-interface">
      
            <button *ngIf="!credencialSrc"  class="power-button" id="powerButton" type="button" [ngClass]="{'class_red_color':!isOnCamera, 'class_green_color':isOnCamera}" (click)="onCamera()">
              <i class="fa fa-power-off"></i>
            </button>
            <button *ngIf="credencialSrc" (click)="volverTomarFoto()" class="btn btn_primary">Volver a tomar foto </button>
    
          <div class="camera-view" id="camera-view" >
            <webcam *ngIf="isOnCamera"  [trigger]="triggerObservable" (imageCapture)="handleImage($event)" [width]=300 [height]="300"  style=" border-radius: 10px!important;"></webcam>
          </div>
          <button class="capture-button" (click)="triggerSnapshot()">
            <i class="fa fa-camera"></i>
          </button>
        </div>
      </div>

     
  
      <button type="button" (click)="onSubmit()" class="btn_primary">Crear</button>
    </form>
  </div>
</main>
