<app-sidebar></app-sidebar>
<main class="main_container">
  <app-page-title [title]="'Maestros'"></app-page-title>
  <form
  class=""
  [formGroup]="filtrosForm"
  (ngSubmit)="onSubmit()"
>
<div class="filtros">
  <h3>Filtros de búsqueda</h3>
  <hr>
  <div class="inputs-container">
      <div class="input-group">
          <label for="nombre">Nombre:</label>
          <input type="text" id="nombre" name="name" formControlName="name">
      </div>
      <div class="input-group">
          <label for="apellido">Apellido:</label>
          <input type="text" id="apellido" name="last_name" formControlName="last_name">
      </div>
      <div class="input-group">
          <label for="correo">Correo electrónico:</label>
          <input type="text" id="correo" name="email" formControlName="email">
      </div>
      
  </div>
  <div class="button-group">
      <input type="button" value="Buscar" (click)="search()">
  </div>
</div>
</form>
  <div>
   
    <table class="table_grid">
      <thead>
        <tr>
          <th>Nombres</th>
          <th>Apellidos</th>
          <th>Email</th>
          <th>Roles</th>
          <th>Opciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let maestro of maestrosList">
          <td>{{ maestro.name }}</td>
          <td>{{ maestro.last_name }}</td>
          <td>{{ maestro.email }}</td>
          <td><p *ngFor="let role of maestro.roles">{{role}}</p></td>
          <td class="icon_container">
            <button type="button" class="btn_icon" (click)="_general.navigateBy('/superAdmin/maestros/perfil-maestro/'+maestro._id)">✎</button>
            <button type="button" class="btn_icon" (click)="deleteUser(maestro._id)">✘</button>
          </td>
        </tr>
      </tbody>
    </table>
    
    <app-paginator [currentPage]="currentPage" [totalPages]="totalPages" (change)="changePage($event)"></app-paginator>

  </div>
</main>
