<app-sidebar></app-sidebar>
<main class="main_container">
  <app-page-title [title]="'Maestros'"></app-page-title>
  <div>
   
    <table class="table_grid">
      <thead>
        <tr>
          <th>Nombres</th>
          <th>Apellidos</th>
          <th>Email</th>
          <th>Roles</th>
          <th>Opciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let maestro of maestrosList">
          <td>{{ maestro.name }}</td>
          <td>{{ maestro.last_name }}</td>
          <td>{{ maestro.email }}</td>
          <td><p *ngFor="let role of maestro.roles">{{role}}</p></td>
          <td class="icon_container">
            <button type="button" class="btn_icon" (click)="_general.navigateBy('/superAdmin/maestros/perfil-maestro/'+maestro._id)">✎</button>
            <button type="button" class="btn_icon" (click)="deleteUser(maestro._id)">✘</button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="paginator">
      <button class="prev" (click)="changePage(currentPage - 1)">&lt;</button>
      <div class="page-numbers">
        <button class="page-number" *ngFor="let page of totalPages" (click)="changePage(page)">{{ page }}</button>
      </div>
      <button class="next" (click)="changePage(currentPage + 1)"  >&gt;</button>
    </div>
    <h3 *ngIf="currentPage && totalPages">Pagina: {{currentPage}}/ {{totalPages.length}}</h3>
  </div>
</main>
