<app-sidebar></app-sidebar>
<main class="main_container">
        <body>
            <div class="welcome">
                <div class="welcome__banner">
                    <p>Odontología UADEC</p>
                </div>
                <article class="welcome__article">
                    <h2>Bienvenido, Admin</h2>
                    <p class="welcome__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus delectus nemo dignissimos eligendi consequuntur cum provident nobis praesentium nostrum beatae! Dicta provident repellendus vitae tempora, obcaecati rem reiciendis distinctio explicabo!</p>
                    <button class="welcome__button">Pene</button>
                    <p class="welcome__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Debitis suscipit autem eligendi eaque vel perferendis culpa veritatis, quis quam excepturi aut ad dolor, ullam deleniti delectus. Dignissimos obcaecati quia facilis?</p>
                </article>
            </div>
        </body>
</main>