<app-sidebar></app-sidebar>
<main class="main_container">
        <body>
            <div class="welcome">
                <div class="welcome__banner">
                    <p>Odontología UADEC</p>
                </div>
                <article class="welcome__article">
                    <h2>¡Bienvenido, Super Usuario!</h2>
                    <p class="welcome__text">Estás a cargo de un mundo de posibilidades en nuestro sistema de la Escuela de Odontología</p>
                    <button class="welcome__button">Comenzar</button>
                    <p class="welcome__text">Con tu acceso privilegiado, podrás explorar estadísticas, gestionar usuarios, supervisar maestros y administrar asignaturas de manera eficiente. Estamos emocionados por la contribución que harás para el éxito de nuestra comunidad odontológica. ¡Adelante y aprovecha al máximo tus capacidades!</p>
                </article>
            </div>
        </body>
</main>