<app-sidebar></app-sidebar>
<main class="main_container">
  <app-page-title [title]="'Mis Practicas'"></app-page-title>
  <div>
   
    <table class="table_grid">
      <thead>
        <tr>
          <th>Fecha</th>
          <th>Matricula</th>
          <th>Obervaciones</th>
          <th>Tratamiento</th>
          <th>ESTADO</th>
          <th>Abrir</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let practica of misPracticasList">
          <td>{{ practica.fecha_tratamiento }}</td>
          <td>{{ practica.matricula }}</td>
          <td>{{ practica.observaciones }}</td>
          <td>{{ practica.tratamiento }}</td>
          <td *ngIf="practica.maestro_id && practica.maestro_id ==='RECHAZADO'">RECHAZADA</td>
          <td *ngIf="practica.maestro_id && practica.maestro_id !=='RECHAZADO'">APROBADA</td>
          <td *ngIf="!practica.maestro_id">SIN REVISAR</td>
          <td><button type="button" (click)="openPractica(practica.diagnostico_id, practica._id)" class="btn_primary">Abrir</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</main>
