<div class="background_modal_opened" *ngIf="modalIsOpen"></div>
<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>

<div class="wrapper">
  <div class="sidebar">
    <div class="contenedor_avatar">
      <img [src]="profile_picture" class="avatar" alt="" />
      <h2>{{ userData.fullName }}</h2>
    </div>
    <div class="contenedor_rol">
      <p>{{ userData.role_default }}</p>
      
      <!--Aqui se muestra ek tiempo en el que la sesion expira-->
      <div class="session-expiration">
       !!Recuerda Tu sesion puede expirar por una inactividad prolongada.
      </div>
    </div>

    <!--Modal de inactividad-->
    <div id="inactivityModal" class="modal" style="display:none;">
      <div class="modal-content">
        <h2>Sesión Expirada</h2>
        <p>Su sesión ha expirado debido a inactividad. Para continuar, por favor ingrese el correo electrónico con el que inició sesión.</p>
        <input type="text" id="emailField" class="modal-input" placeholder="Ingresa tu Correo" autocomplete="off" autocorrect="off" autocapitalize="none" spellcheck="false">
        <div class="modal-buttons">
          <input type="button" id="logoutButton" class="modal-button" value="Volver al Inicio">
          <input type="button" id="extendSessionButton" class="modal-button" value="Extender la Sesión">
        </div>
      </div>
    </div>

    <ul>
      <li
        [ngClass]="{ active_session: actual_path === 'usuarios' }"
        *ngIf="userData.role_default === 'superAdmin'"
        (click)="navigateBy('/superAdmin/usuarios')"
      >
        <a><i class="fas fa-users"></i>
          Usuarios</a>
      </li>
      <li
        [ngClass]="{ active_session: actual_path === 'maestros' }"
        *ngIf="userData.role_default === 'superAdmin'"
        (click)="navigateBy('/superAdmin/maestros')"
      >
        <a><i class="fas fa-chalkboard-teacher"></i>
          Maestros</a>
      </li>

      <li
        [ngClass]="{ active_session: actual_path === 'estudiantes' }"
        *ngIf="userData.role_default === 'superAdmin'"
        (click)="navigateBy('/superAdmin/estudiantes')"
      >
        <a><i class="fas fa-user-graduate"></i>
          Estudiantes</a>
      </li>

      <li
        [ngClass]="{ active_session: actual_path === 'respaldos' }"
        *ngIf="userData.role_default === 'superAdmin'"
        (click)="navigateBy('/superAdmin/respaldos')"
      >
        <a><i class="fas fa-cloud-upload-alt"></i>
          Respaldos</a>
      </li>

      <li
        [ngClass]="{ active_session: actual_path === 'clinicas' }"
        *ngIf="userData.role_default === 'superAdmin'"
        (click)="navigateBy('/superAdmin/clinicas')"
      >
        <a><i class="fas fa-hospital"></i>
          Clínicas</a>
      </li>

      <li
        [ngClass]="{ active_session: actual_path === 'consultas' }"
        *ngIf="userData.role_default === 'trabajador'"
        (click)="navigateBy('/trabajador/consultas')"
      >
        <a><i class="fas fa-calendar-check"></i>
          Consultas</a>
      </li>

      <li
        [ngClass]="{ active_session: actual_path === 'abrir-historia' }"
        *ngIf="userData.role_default === 'maestro'"
        (click)="navigateBy('/maestro/abrir-historia')"
      >
        <a><i class="fas fa-file-medical"></i>
          Historia Clinica</a>
      </li>

      <li
        [ngClass]="{ active_session: actual_path === 'dashboard-salud' }"
        *ngIf="userData.role_default === 'maestro'"
        (click)="navigateBy('/maestro/dashboard-salud')"
      >
        <a><i class="fas fa-tachometer-alt"></i>
          Dashboard</a>
      </li>

      <li
        [ngClass]="{
          active_session: actual_path === 'abrir-historia-estudiante'
        }"
        *ngIf="userData.role_default === 'estudiante'"
        (click)="navigateBy('/estudiante/abrir-historia-estudiante')"
      >
        <a><i class="fas fa-file-medical"></i>
          Historias clinicas</a>
      </li>

      <li
        [ngClass]="{ active_session: actual_path === 'mis-practicas' }"
        *ngIf="userData.role_default === 'estudiante'"
        (click)="navigateBy('/estudiante/mis-practicas')"
      >
        <a><i class="fas fa-user-md"></i>
          Mis practicas</a>
      </li>
    </ul>
    <div class="social_media">
      <a (click)="logout()">Cerrar sesion</a>
    </div>
  </div>
  <div class="sidebar_movil" (click)="openMenu()" style="z-index: 999">
    <img style="cursor: pointer;" src="../../../assets/iconos/menu.svg" class="menu_icon" alt="menu" />
  </div>
  <div class="sidebar2" *ngIf="showMenu">
    <img
      style="cursor: pointer;"
      (click)="closeMenu()"
      src="../../../assets/iconos/x.svg"
      alt="close"
      class="close_icon"
    />
    <div class="contenedor_avatar">
      <img [src]="profile_picture" class="avatar" alt="" />
      <h2>{{ userData.fullName }}</h2>
    </div>
    <div class="contenedor_rol">
      <p>{{ userData.role_default }}</p>
      <div class="session-expiration">
        Tu sesión expirará a las {{ sessionExpirationTime }}
      </div>
    </div>

    <ul>
      <li
        [ngClass]="{ active_session: actual_path === 'usuarios' }"
        *ngIf="userData.role_default === 'superAdmin'"
        (click)="navigateBy('/superAdmin/usuarios')"
      >
        <a><i class="fas fa-users"></i>
          Usuarios</a>
      </li>
      <li
        [ngClass]="{ active_session: actual_path === 'maestros' }"
        *ngIf="userData.role_default === 'superAdmin'"
        (click)="navigateBy('/superAdmin/maestros')"
      >
        <a><i class="fas fa-chalkboard-teacher"></i>
          Maestros</a>
      </li>

      <li
        [ngClass]="{ active_session: actual_path === 'consultas' }"
        *ngIf="userData.role_default === 'trabajador'"
        (click)="navigateBy('/trabajador/consultas')"
      >
        <a><i class="fas fa-calendar-check"></i>
          Consultas</a>
      </li>

      <li
        [ngClass]="{ active_session: actual_path === 'abrir-historia' }"
        *ngIf="userData.role_default === 'maestro'"
        (click)="navigateBy('/maestro/abrir-historia')"
      >
        <a><i class="fas fa-file-medical"></i>
          Historia Clinica</a>
      </li>

      <li
        [ngClass]="{ active_session: actual_path === 'dashboard-salud' }"
        *ngIf="userData.role_default === 'maestro'"
        (click)="navigateBy('/maestro/dashboard-salud')"
      >
        <a><i class="fas fa-tachometer-alt"></i>
          Dashboard</a>
      </li>

      <li
        [ngClass]="{ active_session: actual_path === 'estudiantes' }"
        *ngIf="userData.role_default === 'superAdmin'"
        (click)="navigateBy('/superAdmin/estudiantes')"
      >
        <a><i class="fas fa-user-graduate"></i>
          Estudiantes</a>
      </li>

      <li
        [ngClass]="{ active_session: actual_path === 'respaldos' }"
        *ngIf="userData.role_default === 'superAdmin'"
        (click)="navigateBy('/superAdmin/respaldos')"
      >
        <a><i class="fas fa-cloud-upload-alt"></i>
          Respaldos</a>
      </li>

      <li
      [ngClass]="{ active_session: actual_path === 'clinicas' }"
      *ngIf="userData.role_default === 'superAdmin'"
      (click)="navigateBy('/superAdmin/clinicas')"
    >
      <a><i class="fas fa-hospital"></i>
        Clínicas</a>
    </li>
    
      <li
        [ngClass]="{
          active_session: actual_path === 'abrir-historia-estudiante'
        }"
        *ngIf="userData.role_default === 'estudiante'"
        (click)="navigateBy('/estudiante/abrir-historia-estudiante')"
      >
        <a><i class="fas fa-file-medical"></i>
          Historias clinicas</a>
      </li>

      <li
        [ngClass]="{ active_session: actual_path === 'mis-practicas' }"
        *ngIf="userData.role_default === 'estudiante'"
        (click)="navigateBy('/estudiante/mis-practicas')"
      >
        <a><i class="fas fa-user-md"></i>
        Mis practicas</a>
      </li>
    </ul>
    <div class="social_media">
      <a (click)="logout()">Cerrar sesion</a>
    </div>
  </div>
</div>
