<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>

<div class="wrapper">
  <div class="sidebar">
    <div class="contenedor_avatar">
      <img [src]="profile_picture" class="avatar" alt="" />
      <h2>{{ userData.fullName }}</h2>
    </div>
    <div class="contenedor_rol">
      <p>{{ userData.role_default }}</p>
      <div class="session-expiration">
        Tu sesión expirará a las {{ sessionExpirationTime }}
      </div>
    </div>

    <ul>
      <li [ngClass]="{ active_session: actual_path === 'estadisticas' }" *ngIf="userData.role_default === 'superAdmin'"
        (click)="navigateBy('/superAdmin/estadisticas')">
        <a><i class="fas fa-home"></i>Estadisticas</a>
      </li>
      <li [ngClass]="{ active_session: actual_path === 'usuarios' }" *ngIf="userData.role_default === 'superAdmin'"
        (click)="navigateBy('/superAdmin/usuarios')">
        <a><i class="fas fa-home"></i>Usuarios</a>
      </li>
      <li [ngClass]="{ active_session: actual_path === 'maestros' }" *ngIf="userData.role_default === 'superAdmin'"
        (click)="navigateBy('/superAdmin/maestros')">
        <a><i class="fas fa-home"></i>Maestros</a>
      </li>
      <li [ngClass]="{ active_session: actual_path === 'asignaturas' }" *ngIf="userData.role_default === 'superAdmin'"
        (click)="navigateBy('/superAdmin/asignaturas')">
        <a><i class="fas fa-home"></i>Asignaturas</a>
      </li>
      <li [ngClass]="{ active_session: actual_path === 'consultas' }" *ngIf="userData.role_default === 'trabajador'"
        (click)="navigateBy('/trabajador/consultas')">
        <a><i class="fas fa-home"></i>Consultas</a>
      </li>
      <!--   <li
        [ngClass]="{ active_session: actual_path === 'perfil-maestro' }"
        *ngIf="userData.role_default === 'maestro'"
        (click)="navigateBy('/maestro/perfil-maestro')"
      >
        <a><i class="fas fa-home"></i>Perfil Maestro</a>
      </li> -->

      <li [ngClass]="{ active_session: actual_path === 'mis-materias' }" *ngIf="userData.role_default === 'maestro'"
        (click)="navigateBy('/maestro/mis-materias')">
        <a><i class="fas fa-home"></i>Materias impartidas</a>
      </li>

      <li [ngClass]="{ active_session: actual_path === 'abrir-historia' }" *ngIf="userData.role_default === 'maestro'"
        (click)="navigateBy('/maestro/abrir-historia')">
        <a><i class="fas fa-home"></i>Historia Clinica</a>
      </li>

      <li [ngClass]="{ active_session: actual_path === 'estudiantes' }" *ngIf="userData.role_default === 'superAdmin'"
        (click)="navigateBy('/superAdmin/estudiantes')">
        <a><i class="fas fa-home"></i>Estudiantes</a>
      </li>

      <li [ngClass]="{ active_session: actual_path === 'mis-materias' }" *ngIf="userData.role_default === 'estudiante'"
        (click)="navigateBy('/estudiante/mis-materias')">
        <a><i class="fas fa-home"></i>Mis Materias</a>
      </li>

      <li [ngClass]="{ active_session: actual_path === 'abrir-historia-estudiante' }"
        *ngIf="userData.role_default === 'estudiante'" (click)="navigateBy('/estudiante/abrir-historia-estudiante')">
        <a><i class="fas fa-home"></i>Historias clinicas</a>
      </li>

      <li [ngClass]="{ active_session: actual_path === 'mis-practicas' }" *ngIf="userData.role_default === 'estudiante'"
        (click)="navigateBy('/estudiante/mis-practicas')">
        <a><i class="fas fa-home"></i>Mis practicas</a>
      </li>

      <li [ngClass]="{ active_session: actual_path === 'tratamientos' }" *ngIf="userData.role_default === 'estudiante'"
        (click)="navigateBy('/estudiante/tratamientos')">
        <a><i class="fas fa-home"></i>Tratamientos</a>
      </li>

    </ul>
    <div class="social_media">
      <a (click)="logout()">Cerrar sesion</a>
    </div>
  </div>
  <div class="sidebar_movil" (click)="openMenu()">
    <img src="../../../assets/iconos/menu.svg" class="menu_icon" alt="menu" />
  </div>
  <div class="sidebar2" *ngIf="showMenu">
    <img (click)="closeMenu()" src="../../../assets/iconos/x.svg" alt="close" class="close_icon" />
    <div class="contenedor_avatar">
      <img [src]="profile_picture" class="avatar" alt="" />
      <h2>{{ userData.fullName }}</h2>
    </div>
    <div class="contenedor_rol">
      <p>{{ userData.role_default }}</p>
      <div class="session-expiration">
        Tu sesión expirará a las {{ sessionExpirationTime }}
      </div>
    </div>

    <ul>
      <li [ngClass]="{ active_session: actual_path === 'estadisticas' }" *ngIf="userData.role_default === 'superAdmin'"
        (click)="navigateBy('/superAdmin/estadisticas')">
        <a><i class="fas fa-home"></i>Estadisticas</a>
      </li>
      <li [ngClass]="{ active_session: actual_path === 'usuarios' }" *ngIf="userData.role_default === 'superAdmin'"
        (click)="navigateBy('/superAdmin/usuarios')">
        <a><i class="fas fa-home"></i>Usuarios</a>
      </li>
      <li [ngClass]="{ active_session: actual_path === 'maestros' }" *ngIf="userData.role_default === 'superAdmin'"
        (click)="navigateBy('/superAdmin/maestros')">
        <a><i class="fas fa-home"></i>Maestros</a>
      </li>
      <li [ngClass]="{ active_session: actual_path === 'asignaturas' }" *ngIf="userData.role_default === 'superAdmin'"
        (click)="navigateBy('/superAdmin/asignaturas')">
        <a><i class="fas fa-home"></i>Asignaturas</a>
      </li>
      <li [ngClass]="{ active_session: actual_path === 'consultas' }" *ngIf="userData.role_default === 'trabajador'"
        (click)="navigateBy('/trabajador/consultas')">
        <a><i class="fas fa-home"></i>Consultas</a>
      </li>
      <li [ngClass]="{ active_session: actual_path === 'perfil-maestro' }" *ngIf="userData.role_default === 'maestro'"
        (click)="navigateBy('/maestro/perfil-maestro')">
        <a><i class="fas fa-home"></i>Perfil Maestro</a>
      </li>
      <li [ngClass]="{ active_session: actual_path === 'estudiantes' }" *ngIf="userData.role_default === 'superAdmin'"
        (click)="navigateBy('/superAdmin/estudiantes')">
        <a><i class="fas fa-home"></i>Estudiantes</a>
      </li>

      <li [ngClass]="{ active_session: actual_path === 'mis-materias' }" *ngIf="userData.role_default === 'estudiante'"
        (click)="navigateBy('/estudiante/mis-materias')">
        <a><i class="fas fa-home"></i>Mis Materias</a>
      </li>

      <li [ngClass]="{ active_session: actual_path === 'mis-materias' }" *ngIf="userData.role_default === 'maestro'"
        (click)="navigateBy('/maestro/mis-materias')">
        <a><i class="fas fa-home"></i>Mis Materias</a>
      </li>
    </ul>
    <div class="social_media">
      <a (click)="logout()">Cerrar sesion</a>
    </div>
  </div>
</div>