<app-sidebar></app-sidebar>
<main class="main_container">
  <app-page-title [title]="'Materias del profesor' "></app-page-title>
  <div>
   
    <table class="table_grid" *ngIf="materiasImpartidasList">
      <thead>
        <tr>
          <th>Nombre de la materia</th>
          <th>Meta de practicas por alumno</th>
          <th>Semestre que imparte</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let materia of materiasImpartidasList">
          <td>{{ materia.nombre }}</td>
          <td>{{ materia.meta_practicas }}</td>
          <td>{{ materia.semestre }}</td>
          <td>
            <button (click)="openPracticasPendientes(materia._id)" type="button" class="btn_primary" ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
              <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
              <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"/>
            </svg></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</main>
