<app-sidebar></app-sidebar>
<main class="main_container">
  <app-page-title [title]="'Clínicas'"></app-page-title>
  <form
    class=""
    [formGroup]="filtrosForm"
    (ngSubmit)="onSubmit()"
  >
  <div class="filtros">
    <h3>Filtros de búsqueda</h3>
    <hr>
    <div class="inputs-container">
        <div class="input-group">
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="name" formControlName="name">
        </div>
        <div class="input-group">
            <label for="correo">Teléfono:</label>
            <input type="text" id="telefono" name="telefono" formControlName="telefono">
        </div>
        <div class="input-group">
            <label for="level">Nivel:</label>
            <select id="level" name="level" formControlName="level">
                <option value="Licenciatura">Licenciatura</option>
                <option value="Maestría">Maestría</option>
                <option value="" selected>Todos</option>
            </select>
        </div>
    </div>
    <div class="button-group">
        <input type="button" value="Buscar" (click)="search()">
    </div>
  </div>
  </form>
  <div>
    <div class="buttons">
      <button
      type="button"
      class="btn_primary"
      (click)="_general.navigateBy('/superAdmin/clinicas/nuevo')"
    >
      Nueva clínica 
    </button>
   
  
    </div>
  
    <table class="table_grid">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Nivel</th>
          <th>Teléfono</th>
          <th>Opciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let clinica of clinicasList">
          <td>{{ clinica.name }}</td>
          <td>{{ clinica.level }}</td>
          <td>{{ clinica.telefono }}</td>
          <td class="icon_container">
            <button type="button" class="btn_icon" (click)="_general.navigateBy('/superAdmin/clinicas/edicion/'+clinica._id)">✎</button>
            <button type="button" class="btn_icon" (click)="deleteClinica(clinica._id)">✘</button>
          </td>
        </tr>
      </tbody>
    </table>
    <br>
    <br>
    <app-paginator [currentPage]="currentPage" [totalPages]="totalPages" (change)="changePage($event)"></app-paginator>
</div>
</main>
