<app-sidebar></app-sidebar>
<main class="main_container">
    <app-page-title [title]="'Consultas'" ></app-page-title>
    <div>
      <div class="contenedor_alerta" style="margin-bottom: 20px;">
        <div class="alert alert-warning" role="alert">
          <strong>Estimado Colaborador:</strong> 
          Bienvenido a la sección de creación de consultas. En esta área, usted podrá registrar las consultas de los pacientes que lleguen a la clínica.
          <br> Para continuar, por favor presione el botón <strong>"Nueva Consulta"</strong>.
        </div>
      </div> 
        <button
          type="button"
          class="btn_primary"
          (click)="_general.navigateBy('/trabajador/consultas/nuevo')"
        >
          Nueva Consulta
        </button>
      
      </div>
</main>