<app-sidebar></app-sidebar>
<main class="main_container">
  <app-page-title [title]="'Usuarios'"></app-page-title>
  <form
    class="login-form"
    [formGroup]="filtrosForm"
    (ngSubmit)="onSubmit()"
  >
  <div class="filtros">
    <h3>Filtros de búsqueda</h3>
    <input type="button" value="Buscar">
    <hr>
    <div class="input-group">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" formControlName="nombre">
    </div>
    <div class="input-group">
      <label for="nombre">Apellido:</label>
      <input type="text" id="apellido" name="apellido" formControlName="apellido">
  </div>
    <div class="input-group">
        <label for="correo">Correo electrónico:</label>
        <input type="text" id="correo" name="correo" formControlName="email">
    </div>
    <div class="input-group">
        <label for="genero">Género:</label>
        <select id="genero" name="genero" formControlName="genero">
            <option value="masculino">Masculino</option>
            <option value="femenino">Femenino</option>
            <option value="otro">Otro</option>
        </select>
    </div>
    <div class="input-group">
        <label for="rol">Rol:</label>
        <select id="rol" name="rol" formControlName="rol">
            <option value="admin">SuperAdmin</option>
            <option value="usuario">Maestro</option>
            <option value="invitado">Estudiante</option>
            <option value="invitado">Trabajador</option>
        </select>
    </div>
</div>
  </form>
  <div>
    <button
      type="button"
      class="btn_primary"
      (click)="_general.navigateBy('/superAdmin/usuarios/nuevo')"
    >
      Nuevo usuario
    </button>
    <!-- <div class="search-container">
      <input class="search-input" type="text" placeholder="Buscar por nombre" [(ngModel)]="searchTerm">
      <button class="btn_primary" (click)="search()">Buscar</button>
    </div>     -->
    <table class="table_grid">
      <thead>
        <tr>
          <th>Nombres</th>
          <th>Apellidos</th>
          <th>Email</th>
          <th>Roles</th>
          <th>Opciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of usuariosList">
          <td>{{ user.name }}</td>
          <td>{{ user.last_name }}</td>
          <td>{{ user.email }}</td>
          <td><p *ngFor="let role of user.roles">{{role}}</p></td>
          <td class="icon_container">
            <button type="button" class="btn_icon" (click)="_general.navigateBy('/superAdmin/usuarios/edicion/'+user._id)">✎</button>
            <button type="button" class="btn_icon" (click)="deleteUser(user._id)">✘</button>
          </td>
        </tr>
      </tbody>
    </table>
    <br>
    <br>
    <div class="container">
    <div class="paginator">
      <button class="prev" (click)="changePage(currentPage - 1)">&lt;</button>
      <div class="page-numbers">
        <button class="page-number" *ngFor="let page of totalPages" (click)="changePage(page)">{{ page }}</button>
      </div>
      <button class="next" (click)="changePage(currentPage + 1)"  >&gt;</button>
    </div>
    <h3 *ngIf="currentPage && totalPages">Pagina: {{currentPage}}/ {{totalPages.length}}</h3>
    
  </div>
</div>
</main>
