<app-sidebar></app-sidebar>
<main class="main_container">
  <app-page-title [title]="'Usuarios'"></app-page-title>
  <form
    class=""
    [formGroup]="filtrosForm"
    (ngSubmit)="onSubmit()"
  >
  <div class="filtros">
    <h3>Filtros de búsqueda</h3>
    <hr>
    <div class="inputs-container">
        <div class="input-group">
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="name" formControlName="name">
        </div>
        <div class="input-group">
            <label for="apellido">Apellido:</label>
            <input type="text" id="apellido" name="lastname" formControlName="lastname">
        </div>
        <div class="input-group">
            <label for="correo">Correo electrónico:</label>
            <input type="text" id="correo" name="email" formControlName="email">
        </div>
        <div class="input-group">
            <label for="rol">Rol:</label>
            <select id="rol" name="role_default" formControlName="role_default">
                <option value="superAdmin">SuperAdmin</option>
                <option value="maestro">Maestro</option>
                <option value="estudiante">Estudiante</option>
                <option value="trabajador">Trabajador</option>
                <option value="todos" selected>Todos</option>
            </select>
        </div>
    </div>
    <div class="button-group">
        <input type="button" value="Buscar">
    </div>
</div>
  </form>
  <div>
    <button
      type="button"
      class="btn_primary"
      (click)="_general.navigateBy('/superAdmin/usuarios/nuevo')"
    >
      Nuevo usuario
    </button>
    <!-- <div class="search-container">
      <input class="search-input" type="text" placeholder="Buscar por nombre" [(ngModel)]="searchTerm">
      <button class="btn_primary" (click)="search()">Buscar</button>
    </div>     -->
    <table class="table_grid">
      <thead>
        <tr>
          <th>Nombres</th>
          <th>Apellidos</th>
          <th>Email</th>
          <th>Roles</th>
          <th>Opciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of usuariosList">
          <td>{{ user.name }}</td>
          <td>{{ user.last_name }}</td>
          <td>{{ user.email }}</td>
          <td><p *ngFor="let role of user.roles">{{role}}</p></td>
          <td class="icon_container">
            <button type="button" class="btn_icon" (click)="_general.navigateBy('/superAdmin/usuarios/edicion/'+user._id)">✎</button>
            <button type="button" class="btn_icon" (click)="deleteUser(user._id)">✘</button>
          </td>
        </tr>
      </tbody>
    </table>
    <br>
    <br>
    <div class="container">
    <div class="paginator">
      <button class="prev" (click)="changePage(currentPage - 1)">&lt;</button>
      <div class="page-numbers">
        <button class="page-number" *ngFor="let page of totalPages" (click)="changePage(page)">{{ page }}</button>
      </div>
      <button class="next" (click)="changePage(currentPage + 1)"  >&gt;</button>
    </div>
    <h3 *ngIf="currentPage && totalPages">Pagina: {{currentPage}}/ {{totalPages.length}}</h3>
    
  </div>
</div>
</main>
