.paginator {
  display: flex;
  justify-content: center;
  align-items: center;
}

.prev,
.next,
.page-number {
  padding: 15px 20px;
  margin: 5px;
  border: 2px solid #b21e36; 
  cursor: pointer;
  background-color: #fff; 
  color: #b21e36; 
  border-radius: 12px;
  transition: background-color 0.3s, color 0.3s; 
}

.prev:hover,
.next:hover,
.page-number:hover,
.page-number.active {
  background-color: #b21e36; 
  color: #fff; 
}

.page-numbers {
  display: flex;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px; 
}

h3 {
  margin-top: 10px; 
  font-size: 18px; 
  color: #333; 
}

.search-container {
  display: flex;
  align-items: center;

}

.search-input {
  padding: 8px;
  margin-right: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Estilo para el contenedor de filtros */
.filtros {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch; /* Ajustar la altura de los elementos para que coincidan */
  width: 99%;
  flex-direction: column;
}

/* Estilo para el contenedor de inputs */
.inputs-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
  width: 100%; /* Ocupar todo el ancho disponible */
}

/* Estilo para los grupos de input */
.input-group {
  margin-right: 10px;
  flex: 1;
}

/* Estilo para el grupo de botón */
.button-group {
  align-self: flex-end;
  margin-top: 10px;
}

/* Estilo para los labels */
.input-group label {
  display: block;
  margin-bottom: 5px;
}

/* Estilo para los inputs de texto y selects */
.input-group input[type="text"],
.input-group select {
  width: calc(100% - 10px); /* Restar el margen derecho para evitar desbordamiento */
  padding: 5px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  background-color: #f2f2f2;
}

/* Estilo para la línea divisoria */
.filtros hr {
  border: 0;
  border-top: 1px solid #ccc;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
}

/* Estilo para el botón */
.filtros input[type="button"] {
  margin-left: auto;
  margin-right: 30px;
  background-color: #b21e36;
  color: #fff;
  border: 0;
  width: 100px;
  border-radius: 20px;
  padding: 10px;
}
